// - var pathImg = '{$opt.assets_url}images/'
// - var modulPath = '{$theme_modules}maininfo/images/'

- var modulPath = 'images/'

doctype html
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='maininfo.css')
    title Football Camps

.main-info-bl#maininfo
    .wrapper.pd_block
        .main-info.main-info--lt
            .main-info__title
                .main-info__icon
                    - for (let i = 0; i < 5; i++)
                        if i < 4
                            svg
                                use(xlink:href=modulPath + 'all-svg.svg#starFill')
                        else
                            svg
                                use(xlink:href=modulPath + 'all-svg.svg#star')
                header.main-info__head.head_h1 Swimming Camp Corallia Beach and Coral Beach olympic
            .main-info__details--lt
                div
                    .main-info__container
                        img.main-info__img(src=modulPath +'coralPool.png' alt='coralBeach')
                        .price-bl
                            span 89
                                sup $
                                sub per day
                div
                    ul.main-info__loc
                        li
                            img(src=modulPath + 'marker.svg' alt='mountain')
                            span Hurgada/Egypt
                        li
                            img(src=modulPath + 'airplane.svg' alt='airplane')
                            span 15 km
                        li
                            img(src=modulPath + 'mountain.svg' alt='mountain')
                            span 150 m
                    ul.main-info__list
                        li CrossFit Area &amp; Fitness Center
                        li All Inclusive
                        li Near the Beach
                        li All Ear around camps
                        li For Professional Teams
                        li Spa Center &amp; Hammam
                    div
                        button.btn.main-btn Get a free quotes
