@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//------------------------------
@import "../../base/_var";
@import "../../base/_ext";

$cl-white: #FFF;
$cl-green: #94BE31;

.main-info {
  background: {
    color: rgba(7, 5, 14, 0.8);
    image: url("../../../../images/background.jpeg");
    size: cover;
    repeat: no-repeat;
    position: center center;
    attachment: scroll;
    blend-mode: multiply;
  }
  padding-bottom: 48px;

  &__bl {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &_title {
      display: inline-flex;
      flex: 1 1 100%;
      flex-direction: column;
    }

    &_h1 {
      font-family: $font-head;
      font-size: rem(24);
      color: $cl-white;
      font-weight: 900;
      margin: 8px 0 24px 0;
      stroke: rgba(0, 0, 0, 1);
      stroke-width: 1px;

      @include mq-w(820px) {
        font-size: rem(40);
      }

      @include mq-w(935px) {
        font-size: rem(48);
      }
    }

    &_details {
      display: flex;
      flex-wrap: wrap;

      &-lb {
        position: relative;
        display: inline-flex;
        height: 256px;
        flex: 1 1 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: calc(57.38% + ((88.84 - 57.38) * ((100vw - 430px) / 190)));
        text-align: center;

        @include mq-w(528px) {
          max-width: 575px;
          margin: 0 auto;
        }
        @include mq-w(620px) {
          max-width: 616px;
          margin: 0 auto;
          height: 406px;
          padding-bottom: 0;
        }

        @include mq-w(921px) {
          max-height: 401px;
          height: 100%;
          flex: 1 1 575px;
          margin-right: 24px;
        }

        &-container {
          position: absolute;
          height: 100%;
          display: block;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 100%;

          @include mq-w(620px) {
            position: relative;
          }
        }

        &-img {
          width: 100%;
          height: 401px;
          border-radius: 12px;
          object-fit: cover;
        }
      }

      &-rb {
        display: inline-flex;
        flex: 1 1 calc(100% - 575px - 24px);
        flex-direction: column;

        &-loc {
          display: flex;
          font-family: $font-head;
          font-size: rem(16);
          color: $cl-white;
          font-weight: 700;
          align-items: center;
          padding-top: rem(24);

          @include mq-w(621px) {
            padding-top: rem(32);
          }

          @include mq-w(921px) {
            padding-top: rem(13);
          }

          &-p {
            display: inline-flex;
            align-items: center;
            white-space: pre-line;

            @include mq-w(921px) {
              font-size: rem(13);
            }

            @include mq-w(950px) {
              font-size: rem(14);
            }
          }

          &-img {
            &--mr {
              margin-right: 8px;
              width: 24px;
              height: 24px;
            }

            &--ml {
              margin-left: 24px;
              width: 24px;
              height: 24px;

              @include mq-w(921px) {
                margin-left: 14px;
              }

              @include mq-w(950px) {
                margin-left: 24px;
              }
            }
          }
        }

        &-check {
          display: flex;
          flex-wrap: wrap;
          font-family: $font-head;
          font-size: rem(14);
          color: $cl-white;
          justify-content: flex-start;
          padding: 40px 0 0 0;
          gap: 11px;

          @include mq-w(450px) {
            justify-content: space-between;
            gap: 24px;
          }

          @include mq-w(515px) {
            gap: 22px;
            justify-content: start;
          }

          @include mq-w(720px) {
            justify-content: space-between;
          }

          @include mq-w(1074px) {
            gap: 17px;
          }

          &-p {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 28px;
            white-space: pre-line;
            letter-spacing: 0.02em;
            gap: 4px;

            &::before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url("../../../../images/CheckRingLight.svg") no-repeat center center;
              flex-shrink: 0;
            }

            @include mq-w(450px) {
              width: 193px;
            }

            @include mq-w(515px) {
              width: 47%;
            }

            @include mq-w(620px) {
              width: 48%;
            }

            @include mq-w(921px) {
              width: 100%;
              font-size: 14px;
            }

            @include mq-w(1074px) {
              width: 186px;
            }
          }
        }
      }
    }
  }
}

/* PRICE LABEL BLOCK */
.price-label {
  &__wrapper {
    position: absolute;
    width: 149px;
    height: 68px;
    left: 0;
    bottom: 0;

    @include mq-w(529px) {
      height: 110px;
      width: 240px;
    }
    @include mq-w(620px) {
      height: 115px;
    }

    @include mq-w(921px) {
      height: 110px;
    }

    &_overlap {
      position: absolute;
      width: 149px;
      height: 68px;
      background: {
        image: url(../../../../images/rectangle.svg);
        size: 100% 100%;
      }

      @include mq-w(529px) {
        height: 110px;
        width: 240px;
      }

      @include mq-w(921px) {
        height: 110px;
      }

      &-p {
        color: $cl-white;
        text-align: center;

        &-text-wrapper {
          position: absolute;
          font-weight: 800;
          font-family: $font-text;
          font-size: rem(20);
          width: 100%;
          height: 23px;
          bottom: 13px;
          top: auto;
          left: 0;
          right: 0;
          margin: 0 auto;

          @include mq-w(529px) {
            font-size: rem(48);
            height: 56px;
            top: 44px;
            margin: 0;
          }

          &--supText {
            font-family: $font-text;
            font-weight: 400;
            font-size: rem(14);

            @include mq-w(529px) {
              font-size: rem(26);
            }
          }

          &--subText {
            font-family: $font-text;
            font-size: rem(12);
            font-weight: 400;

            @include mq-w(529px) {
              font-size: rem(16);
            }
          }
        }
      }
    }
  }
}

/* END PRICE LABEL BLOCK */

/* RATING STARS BLOCK */
.stars {
  display: flex;
  gap: 10px;

  &__item {
    width: 15px;
    height: 15px;

    &--active {
      fill: rgba(243, 204, 64, 1);
    }
  }
}

/* END RATING STARS BLOCK */

//button style
.greenBtn {
  margin-top: rem(40);
  text-transform: none;
  background-color: $cl-green;
}