@charset "UTF-8";
//@import "../../../css/_mixin";
//@import "../../../css/_var";
//@import "../../../css/_ext";
////------------------------------
//@import "../../base/_var";
//@import "../../base/_ext";

@import "../../../css/mixin";
@import "../../../css/foundation";
@import "../../../css/ext";
@import "../../../css/var";
//______________________________
@import "../../base/var";
@import "../../base/class";
@import "../../base/font";
@import "../../base/ext";
@import "../../base/base";

$cl-back: #07050ECC;
$cl-white: #FFF;
$cl-stroke: #000000FF;

.main-info-bl {
  background: {
    color: rgba(7, 5, 14, 0.8);
    image: url('images/background.jpeg');
    size: cover;
    repeat: no-repeat;
    position: center center;
    attachment: scroll;
    blend-mode: multiply;
  }
}

.main-info {
  &__icon {
    display: flex;
    gap: rem(10);

    > * {
      width: rem(15);
      height: rem(15);
    }
  }

  &__lt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  &__title {
    display: inline-flex;
    flex: 1 1 100%;
    flex-direction: column;
  }

  &__head {
    color: $cl-white;
    margin: rem(8) 0 rem(24) 0;
    stroke: $cl-stroke;
    stroke-width: rem(1);
    @include mq-w(820px) {
      //font-size: rem(40);
    }
    @include mq-w(935px) {
      //font-size: rem(48);
    }
  }

  &__container {
    position: absolute;
    height: 100%;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    @include mq-w(620px) {
      position: relative;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: rem(12);
    object-fit: cover;
  }

  &__details {

    &--lt {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      @include mq-w(770px) {
        flex-wrap: nowrap;
      }

      > * {
        &:first-child {
          position: relative;
          //display: inline-flex;
          height: 18rem;
          width: 100%;
          //max-width: calc(50% - 1rem);
          //padding-bottom: calc(57.38% + ((88.84 - 57.38) * ((100vw - 430px) / 190)));
          text-align: center;
          @include mq-w(500px) {
            height: 20rem;

            //height: rem(406);
            //padding-bottom: 0;
          }
          @include mq-w(770px) {
            width: calc(50% + 30rem);
            height: 50%;
          }
          @include mq-w(950px) {
            max-height: rem(401);
            height: 100%;
            max-width: calc(50% - 1rem);
          }
        }

        &:last-child {
          //display: inline-flex;
          //flex: 1 1 calc(100% - 575px - 24px);
          width: 100%;
          flex-direction: column;
          @include rhythm-margin(1.2rem)
          //gap: 20px;
        }
      }
    }
  }

  &__loc {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-head;
    font-size: rem(16);
    color: $cl-white;
    font-weight: 700;
    align-items: center;
    //padding-top: rem(24);
    gap: rem(20);

    > * {
      display: flex;
      align-items: center;

      &:nth-child(3) {
        flex-basis: 100%;
        //margin-top: rem(15);
        @include mq-w(410px) {
          &:nth-child(3) {
            margin-top: 0;
            flex-basis: auto;
          }
        }
      }

      @include mq-w(950px) {
        &:nth-child(1) {
          flex-basis: 100%;
          //padding-bottom: rem(24);
        }
      }
      @include mq-w(1320px) {
        &:nth-child(1) {
          flex-basis: auto;
          padding-bottom: 0;
        }
      }
    }

    @include mq-w(621px) {
      //padding-top: rem(32);
    }

    @include mq-w(921px) {
      padding-top: rem(13);
    }

    img {
      width: rem(24);
      height: rem(24);
    }

    span {
      margin-left: rem(8);
      white-space: pre-line;

      @include mq-w(921px) {
        font-size: rem(13);
      }

      @include mq-w(950px) {
        font-size: rem(13);
      }
    }
  }

  &__list {
    //display: flex;
    //flex-wrap: wrap;
    display: grid;
    font-family: $font-head;
    font-size: rem(14);
    color: $cl-white;
    //padding: rem(20) 0 0 0;
    //justify-content: flex-start;
    //gap: rem(11);
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    @include mq-w(450px) {
      //padding: 40px 0 0 0;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr;
      //gap: rem(24);
    }
    @include mq-w(515px) {
      //gap: rem(22);
      //justify-content: start;

    }
    @include mq-w(720px) {
      //justify-content: space-between;
      grid-template-columns: 1fr 1fr ;
    }
    @include mq-w(950px) {
      //padding-top: rem(24);
    }
    @include mq-w(1074px) {
      //gap: rem(17);
    }

    > * {
      //display: inline-flex;
      //justify-content: flex-start;
      //width: 100%;
      //height: rem(28);
      //grid-template-columns: 1fr 1fr;
      white-space: pre-line;
      letter-spacing: 0.02em;
      gap: rem(8);
      line-height: rem(22);
      display: inline-flex;

      &::before {
        transform: translateY(rem(4));
        content: '';
        display: inline-block;
        width: 1.2rem;
        height: 1.1rem;
        background: url("images/CheckRingLight.svg") no-repeat center center;
        flex-shrink: 0;

      }

      @include mq-w(450px) {
        //width: rem(193);
      }
      @include mq-w(515px) {
        //width: 47%;
      }
      @include mq-w(720px) {
        //width: 30%;
      }
      @include mq-w(950px) {
        //width: 100%;
        font-size: rem(14);
      }
      @include mq-w(1074px) {
        //width: rem(186);
      }
    }
  }
}

.price-bl {
  position: absolute;
  width: rem(149);
  height: rem(68);
  left: 0;
  bottom: 0;
  background: {
    image: url('images/rectangle.svg');
    size: 100% 100%;
  }
  @include mq-w(529px) {
    height: rem(110);
    width: rem(240);
  }

  > * {
    color: $cl-white;
    text-align: center;
  }

  > * {
    position: absolute;
    font-weight: 800;
    font-family: $font-text;
    font-size: rem(20);
    width: 100%;
    height: rem(23);
    bottom: rem(13);
    top: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include mq-w(529px) {
      font-size: rem(48);
      height: rem(56);
      top: rem(44);
      margin: 0;
    }
  }

  sup {
    font-family: $font-text;
    font-weight: 400;
    font-size: rem(14);
    @include mq-w(529px) {
      font-size: rem(26);
    }
  }

  sub {
    font-family: $font-text;
    font-size: rem(12);
    font-weight: 400;
    @include mq-w(529px) {
      font-size: rem(16);
    }
  }
}

.main-btn {
  margin-top: 2rem;
  text-transform: none;
}