- var pathImg = '{$opt.assets_url}images/'

.infrastructure
    .wrapper.pd_block
        section.infrastructure__swimpool
            .infrastructure__swimpool_headlines
                p.infrastructure__swimpool_headlines-p Sport infrastructure overview
                h2.infrastructure__swimpool_headlines-h Swimming pool
            .inf-table
                .inf-table__head
                    .inf-table__head-col
                        span Numbers
                        span #1
                    .inf-table__head-col
                        span Swimming
                        span
                            img.inf-table__head-img(src=pathImg + 'minipool.svg' alt='coralPool')
                    .inf-table__head-col
                        span Metters(m)
                        span 50m
                    .inf-table__head-col
                        span Lines
                        span 10
                    .inf-table__head-col
                        span Category
                        span Outdoor
                .inf-table__list
                    .inf-table__list-check
                        p.inf-table__list-check-p FIFA Std. 50 m Outdoor Pool
                        p.inf-table__list-check-p Parking (Free of Charge)
                        p.inf-table__list-check-p Starting Blocks
                        p.inf-table__list-check-p Wavelanes
                        p.inf-table__list-check-p 10 Lanes
                        p.inf-table__list-check-p Heating system
                        p.inf-table__list-check-p Referee Room
                        p.inf-table__list-check-p Exclusive Product
                        p.inf-table__list-check-p Private area
                        p.inf-table__list-check-p Food and Beverage
                        p.inf-table__list-check-p Water (Free of Charge)
                        p.inf-table__list-check-p 25 m Mark-up
                        p.inf-table__list-check-p Suitable for Tournaments
                        p.inf-table__list-check-p Timer
                        p.inf-table__list-check-p Within walking distance
                        p.inf-table__list-check-p Within walking distance
                        p.inf-table__list-check-p.inf-table__list-check-p--deny FINA Std. 25 m Indoor Pool
                        p.inf-table__list-check-p.inf-table__list-check-p--deny Inclusive Shuttle
                        p.inf-table__list-check-p.inf-table__list-check-p--deny Locker Room
                        p.inf-table__list-check-p.inf-table__list-check-p--deny Tribune
                        p.inf-table__list-check-p.inf-table__list-check-p--deny 8 Lanes
                        p.inf-table__list-check-p.inf-table__list-check-p--deny Floodlight
                        p.inf-table__list-check-p.inf-table__list-check-p--deny 3 Lanes
                        p.inf-table__list-check-p.inf-table__list-check-p--deny FINA Std. 25 m Outdoor Pool
                        p.inf-table__list-check-p.inf-table__list-check-p--deny FINA Std. 50 m Indoor Pool
                        p.inf-table__list-check-p.inf-table__list-check-p--deny Training Materials from YTC
                        p.inf-table__list-check-p.inf-table__list-check-p--deny Score Table
                        p.inf-table__list-check-p.inf-table__list-check-p--deny Timing System
                        p.inf-table__list-check-p.inf-table__list-check-p--deny 5 Lanes
                        p.inf-table__list-check-p.inf-table__list-check-p--deny Water (Subject to Charge)
        section.infrastructure__swimpool
            .infrastructure__swimpool_headlines
                h2.infrastructure__swimpool_headlines-h Fitness Center
            .inf-table
                .inf-table__head
                    .inf-table__head-col
                        span Numbers
                        span #1
                    .inf-table__head-col
                        span Swimming
                        span
                            img.inf-table__head-img(src=pathImg + 'minipool.svg' alt='coralPool')
                    .inf-table__head-col
                        span Metters(m)
                        span 50m
                    .inf-table__head-col
                        span Lines
                        span 10
                    .inf-table__head-col
                        span Category
                        span Outdoor
                .inf-table__list
                    .inf-table__list-check
                        p.inf-table__list-check-p FIFA Std. 50 m Outdoor Pool
                            p.inf-table__list-check-p Parking (Free of Charge)
                            p.inf-table__list-check-p Starting Blocks
                            p.inf-table__list-check-p Wavelanes
                            p.inf-table__list-check-p 10 Lanes
                            p.inf-table__list-check-p Heating system
                            p.inf-table__list-check-p Referee Room
                            p.inf-table__list-check-p Exclusive Product
                            p.inf-table__list-check-p Private area
                            p.inf-table__list-check-p Food and Beverage
                            p.inf-table__list-check-p Water (Free of Charge)
                            p.inf-table__list-check-p 25 m Mark-up
                            p.inf-table__list-check-p Suitable for Tournaments
                            p.inf-table__list-check-p Timer
                            p.inf-table__list-check-p Within walking distance
                            p.inf-table__list-check-p Within walking distance
                            p.inf-table__list-check-p.inf-table__list-check-p--deny FINA Std. 25 m Indoor Pool
                            p.inf-table__list-check-p.inf-table__list-check-p--deny Inclusive Shuttle
                            p.inf-table__list-check-p.inf-table__list-check-p--deny Locker Room
                            p.inf-table__list-check-p.inf-table__list-check-p--deny Tribune
                            p.inf-table__list-check-p.inf-table__list-check-p--deny 8 Lanes
                            p.inf-table__list-check-p.inf-table__list-check-p--deny Floodlight
                            p.inf-table__list-check-p.inf-table__list-check-p--deny 3 Lanes
                            p.inf-table__list-check-p.inf-table__list-check-p--deny FINA Std. 25 m Outdoor Pool
                            p.inf-table__list-check-p.inf-table__list-check-p--deny FINA Std. 50 m Indoor Pool
                            p.inf-table__list-check-p.inf-table__list-check-p--deny Training Materials from YTC
                            p.inf-table__list-check-p.inf-table__list-check-p--deny Score Table
                            p.inf-table__list-check-p.inf-table__list-check-p--deny Timing System
                            p.inf-table__list-check-p.inf-table__list-check-p--deny 5 Lanes
                            p.inf-table__list-check-p.inf-table__list-check-p--deny Water (Subject to Charge)