@charset "UTF-8";
/**
 * Хлебные крошки
 */
/*%pd_lr_block {
    $pd_lr_block: '0.6rem + 1.6vw' !default;

    @include pd_lr($pd_lr_block, 0, true);
}
%pd_block {
    $pd_tb_block: '1.6rem + 2vw' !default;

    @extend %pd_lr_block;
    @include pd_tb($pd_tb_block, 0, true);
}*/
.infrastructure .wrapper.pd_block {
  padding-top: 0;
}
.infrastructure_arrow {
  position: absolute;
  bottom: 15px;
  right: 0;
  cursor: pointer;
  transition: transform 0.2s;
}
@media (min-width: 380px) {
  .infrastructure_arrow {
    right: 4px;
  }
}
@media (min-width: 785px) {
  .infrastructure_arrow {
    right: 16px;
    bottom: 21px;
  }
}
.infrastructure__swimpool_headlines-p {
  color: #7F7F7F;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 800;
  text-transform: uppercase;
}
.infrastructure__swimpool_headlines-h {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 16px;
}
.infrastructure__filling {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.infrastructure__filling_table {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
.infrastructure__filling_table.head {
  display: none;
}
@media (min-width: 785px) {
  .infrastructure__filling_table.head {
    display: block;
  }
}
.infrastructure__filling_table.pt-0 {
  padding-top: 16px;
  background: linear-gradient(to right, #D3D3D3 50%, #D3D3D3 50%);
  background-size: 100% 1px;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: ease-out 0.2s;
}
@media (min-width: 785px) {
  .infrastructure__filling_table.pt-0 {
    padding-top: 0;
  }
}
.infrastructure__filling_table.pt-0:hover {
  background-color: #F4FCFF;
}
.infrastructure__filling_table.pt-0:hover .infrastructure_arrow path {
  fill: #5bbce4;
}
.infrastructure__filling_table.rotated .infrastructure_arrow {
  transform: rotate(135deg);
}
.infrastructure__filling_table.no-border {
  background: none;
}
@media (min-width: 785px) {
  .infrastructure__filling_table.no-border {
    background: linear-gradient(to right, #D3D3D3 50%, #D3D3D3 50%);
    background-size: 100% 1px;
    background-position: top;
    background-repeat: no-repeat;
  }
}
.infrastructure__filling_table-wrapper {
  position: relative;
}
@media (min-width: 785px) {
  .infrastructure__filling_table-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
  }
}
.infrastructure__filling_table_first {
  padding-bottom: 16px;
}
.infrastructure__filling_table_first_col {
  padding-bottom: 16px;
}
@media (min-width: 785px) {
  .infrastructure__filling_table_first_col {
    width: 326px;
    display: inline-flex;
    padding-bottom: 0;
  }
}
.infrastructure__filling_table_second_col {
  display: flex;
  gap: 8px;
  padding-bottom: 16px;
}
@media (min-width: 380px) {
  .infrastructure__filling_table_second_col {
    gap: 16px;
  }
}
@media (min-width: 785px) {
  .infrastructure__filling_table_second_col {
    display: inline-flex;
    padding-bottom: 0;
    gap: 20px;
  }
}
@media (min-width: 900px) {
  .infrastructure__filling_table_second_col {
    gap: 50px;
  }
}
@media (min-width: 1050px) {
  .infrastructure__filling_table_second_col {
    gap: 88px;
  }
}
@media (min-width: 785px) {
  .infrastructure__filling_table_second_col .infrastructure__filling_table_row:first-child {
    height: 0;
    opacity: 0;
  }
}
@media (min-width: 785px) {
  .infrastructure__filling_table_second_col.head .infrastructure__filling_table_row:first-child {
    opacity: 1;
    height: 100%;
  }
}
.infrastructure__filling_table_row {
  display: flex;
  align-items: center;
}
.infrastructure__filling_table-img {
  width: 64px;
  height: 30px;
  margin-right: 8px;
}
.infrastructure__filling_table-text {
  font-size: 12px;
  font-family: Inter;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #2F3B40;
}
@media (min-width: 535px) {
  .infrastructure__filling_table-text {
    font-size: 14px;
  }
}
.infrastructure__filling_table-params {
  font-size: 10px;
  font-family: Raleway;
  font-weight: 500;
  color: #2F3B40;
  line-height: 14px;
  letter-spacing: 0.2px;
}
@media (min-width: 383px) {
  .infrastructure__filling_table-params {
    font-size: 11px;
  }
}
@media (min-width: 535px) {
  .infrastructure__filling_table-params {
    font-size: 12px;
  }
}
@media (min-width: 785px) {
  .infrastructure__filling_table-params {
    padding-top: 4px;
    padding-bottom: 16px;
  }
}
.infrastructure__filling_table-value {
  font-size: 11px;
  font-family: Inter;
  font-weight: 600;
  color: #2F3B40;
  line-height: 18px;
  letter-spacing: 0.2px;
}
@media (min-width: 383px) {
  .infrastructure__filling_table-value {
    font-size: 12px;
  }
}
@media (min-width: 535px) {
  .infrastructure__filling_table-value {
    font-size: 14px;
    padding-top: 11px;
  }
}
@media (min-width: 785px) {
  .infrastructure__filling_table-value {
    padding: 22px 0;
  }
}
.infrastructure__filling_table_horizon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infrastructure__filling_table_addition {
  width: calc(100% + 32px);
  margin-left: -16px;
  padding: 16px 16px 24px 16px;
  background: linear-gradient(to right, #D3D3D3 50%, #D3D3D3 50%);
  background-size: 100% 1px;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  display: none;
}
.infrastructure__filling_table_addition.visible {
  display: block;
  cursor: auto;
}
.infrastructure__filling_table_addition-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}
@media (min-width: 744px) {
  .infrastructure__filling_table_addition-text {
    padding-bottom: 24px;
    line-height: 24px;
    font-size: 14px;
  }
}
.infrastructure__filling_table_addition-p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  padding-left: 16px;
  margin-bottom: 14px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
@media (min-width: 383px) {
  .infrastructure__filling_table_addition-p {
    padding-right: 8px;
    width: 50%;
  }
}
@media (min-width: 431px) {
  .infrastructure__filling_table_addition-p {
    width: 33.3333333333%;
  }
}
@media (min-width: 1100px) {
  .infrastructure__filling_table_addition-p {
    width: 25%;
  }
}
.infrastructure__filling_table_addition-p:before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(images/check.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.infrastructure__filling_table_addition-p--deny {
  color: #ccc;
}
.infrastructure__filling_table_addition-p--deny:before {
  background-image: url(images/dcheck.svg);
}
.infrastructure__filling_table_addition-span {
  padding-left: 1px;
  font-family: Inter;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
}
.infrastructure__filling_table_info {
  background: linear-gradient(to right, #D3D3D3 50%, #D3D3D3 50%);
  background-size: 100% 1px;
  background-position: top;
  background-repeat: no-repeat;
  padding: 24px 16px;
}
.infrastructure__filling_table_info-wrapper {
  padding-top: 16px;
  display: none;
}
.infrastructure__filling_table_info-wrapper.visible {
  display: block;
}
.infrastructure__filling_table_info_contains {
  display: flex;
}
.infrastructure__filling_table_info_contains-h3 {
  font-size: 12px;
  font-weight: 800;
  font-family: Inter;
  cursor: pointer;
}
@media (min-width: 383px) {
  .infrastructure__filling_table_info_contains-h3 {
    line-height: 28px;
    font-size: 14px;
  }
}
@media (min-width: 535px) {
  .infrastructure__filling_table_info_contains-h3 {
    font-size: 18px;
  }
}
.infrastructure__filling_table_info_contains:hover {
  color: #5bbce4;
}
.infrastructure__filling_table_info_contains:hover .infrastructure__filling_table_info_contains-arrow path {
  fill: #5bbce4;
}
.infrastructure__filling_table_info_contains-arrow {
  transition: transform 0.2s;
  margin-left: 8px;
  margin-top: -3px;
}
@media (min-width: 385px) {
  .infrastructure__filling_table_info_contains-arrow {
    margin-top: 0;
  }
}
.infrastructure__filling_table_info_contains.rotated .infrastructure__filling_table_info_contains-arrow {
  transform: rotate(90deg);
}
.infrastructure__filling_table_info_text {
  width: calc(100% + 32px);
  margin-left: -16px;
  padding: 0 16px 0 16px;
}
.infrastructure__filling_table_info_text-h4 {
  padding: 8px 0 16px 0;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
}
.infrastructure__filling_table_info_text-p {
  position: relative;
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 16px;
  padding-left: 16px;
}
.infrastructure__filling_table_info_text-p::before {
  content: "";
  display: block;
  width: 3.5px;
  height: 3.5px;
  border-radius: 50%;
  background: #2F3B40;
  position: absolute;
  left: 8px;
  top: 6px;
}
@media (min-width: 383px) {
  .infrastructure__filling_table_info_text-p {
    padding-right: 8px;
    width: 50%;
  }
}
@media (min-width: 431px) {
  .infrastructure__filling_table_info_text-p {
    width: 33.3333333333%;
  }
}
@media (min-width: 1100px) {
  .infrastructure__filling_table_info_text-p {
    width: 25%;
  }
}
.infrastructure__filling_table_info.disabled {
  color: #ccc;
}

.equipment-number {
  padding-left: 1px;
  font-weight: 300;
}

/*# sourceMappingURL=infrastructure.css.map */
