@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//______________________________
@import "../../base/_var";
@import "../../base/_ext";
//
//@import "../../../css/mixin";
//@import "../../../css/foundation";
//@import "../../../css/ext";
//@import "../../../css/var";
////______________________________
//@import "../../base/var";
//@import "../../base/class";
//@import "../../base/font";
//@import "../../base/ext";
//@import "../../base/base";

$cl-black: #2F3B40;
$cl-grey: #ccc;
$cl-blue: #5BBCE4FF;
$cl-gradient: #D3D3D3;
$cl-white: #FFFFFF;
$cl-hover: #F4FCFF;
$cl-h1grey: #7F7F7F;

.infr {
  &.wrapper {
    padding-top: 0;
  }

  &__h2 {
    font-family: $font-head;
    font-size: rem(20);
    font-weight: 900;
    padding: {
      top: 32px;
      bottom: 16px;
    }
    text-transform: uppercase;
  }

  &__h3 {
    margin-top: rem(50);
    color: $cl-h1grey;
    font-family: $font-head;
    font-size: rem(15);
    line-height: rem(27);
    font-weight: 800;
    @include mq-w(340px) {
      font-size: rem(16);
    }
    padding-left: rem(16);
  }

  &__table {
    margin-top: rem(20);
    box-shadow: 0 rem(4) rem(16) 0 rgba(0, 0, 0, 10%);
    border-radius: rem(16);
    padding: 1.7rem 1rem 1rem 1rem;
    @include mq-w(785px) {
      //padding: 24px;
    }

    &--lt {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;

      > * {
        &:last-child {
          width: 100%;
          @include mq-w(797px) {
            width: auto;
          }
        }
      }
    }

    &__wrap {
      position: relative;

    }

    &__head {
      position: relative;
      -webkit-transform: translate(0, -33.3333333333%);
      -moz-transform: translate(0, -33.3333333333%);
      -ms-transform: translate(0, -33.3333333333%);
      -o-transform: translate(0, -33.3333333333%);
      transform: translate(0, -33.3333333333%);
      @include mq-w(785px) {
        align-items: center;
      }

      > * {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:last-child {
          @include pd_tb(0.4rem);
        }

        .infr__table__vert {
          font: {
            size: rem(10);
            family: Raleway;
            weight: 500;
          }
          color: $cl-black;
          line-height: rem(14);
          letter-spacing: rem(0.2);

          @include mq-w(383px) {
            font-size: rem(11);
          }
          @include mq-w(535px) {
            font-size: rem(11);
          }
        }
      }
    }

    &__param {
      width: 100%;
      position: relative;

      &.rotated {
        .arrow-table {
          transform: rotate(135deg);
        }
      }

      &--lt {
        display: flex;
        flex-direction: column;

        position: relative;
        @include mq-w(380px) {
          gap: 1rem;
          flex-direction: row;
          padding-right: 2.2rem;
          justify-content: space-between;
          column-gap: calc(.1rem + 4vw);
        }

        > * {
          padding: .4rem 0;
          display: flex;
          @include mq-w(380px) {
            padding: 0;
            &:not(:last-child)::before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              height: 1px;
              width: 100%;
              display: block;
              background: radial-gradient(circle, rgba(211, 211, 211, 1) 0%, rgba(211, 211, 211, 0) 100%);
              background-size: 100% 1px;
              background-position: bottom;
              background-repeat: no-repeat;
            }
          }

          &:not(:last-child):not(:nth-last-child(2)) {
            background: radial-gradient(circle, rgba(211, 211, 211, 1) 0%, rgba(211, 211, 211, 0) 100%);
            background-size: 100% 1px;
            background-position: bottom;
            background-repeat: no-repeat;
            @include mq-w(380px) {
              background: none;
            }
          }

          @include mq-w(380px) {
            justify-content: space-between;
            text-align: center;
            flex-direction: column;
            gap: 3.2rem;
          }
        }
      }

      dt {
        font-size: .85rem;
        width: 50%;
        @include mq-w(380px) {
          width: auto;
        }
      }

      dd {
        font-size: .9rem;
        font-weight: bold;
        width: 40%;
        @include mq-w(380px) {
          width: auto;
        }
      }
    }

    &__row {
      > * {
        display: inline-block;
        vertical-align: middle;

        &:last-child {
          @include pd_tb(0.4rem);
        }
      }

      border-radius: rem(16);
      padding: {
        top: rem(24);
        left: rem(16);
        right: rem(16);
      }
      position: relative;
    }

    &__col {
      background: radial-gradient(circle, rgba(211, 211, 211, 1) 0%, rgba(211, 211, 211, 0) 100%);
      background-size: 100% rem(1);
      background-position: top;
      background-repeat: no-repeat;
      display: flex;
      padding-bottom: rem(16);
      align-items: flex-end;
      padding-right: rem(30);
      @include mq-w(785px) {
        display: inline-flex;
        padding-bottom: 0;
        gap: 0;
        justify-content: flex-end;
        align-items: center;
      }
      @include mq-w(915px) {
        padding-right: rem(50);
      }
      @include mq-w(970px) {
        padding-right: rem(70);
      }

      &.head {
        .row:first-child {
          @include mq-w(785px) {
            opacity: 1;
            height: 100%;
          }
        }
      }
    }

    &__img {
      width: rem(64);
      height: rem(30);
      margin-right: rem(16);
    }

    &__text {
      font: {
        size: 1em;
        family: Inter;
        weight: 600;
      }
      line-height: rem(18);
      letter-spacing: rem(0.2);
      color: $cl-blue;
    }

    &__info {
      margin-top: 1rem;
      border-radius: 0 0 rem(16) rem(16);
      width: calc(100% + 32px);
      margin-left: -1rem;
      padding: 1rem 1rem 0 1rem;
      background: linear-gradient(to right, $cl-gradient 50%, $cl-gradient 50%);
      background-size: 100% 1px;
      background-position: top;
      background-repeat: no-repeat;
      background-color: $cl-white;
      display: none;

      &.visible {
        display: block;
        cursor: auto;
      }

      p {
        font: {
          family: Inter;
          weight: 400;
          size: rem(12);
        }
        margin-top: rem(16);
        line-height: rem(16);
        letter-spacing: 0.2px;

        @include mq-w(785px) {
          padding-top: rem(24);
          line-height: rem(24);
          font-size: rem(14);
        }
      }
    }

    &__list {
      > * {
        font-family: $font-head;
        font-weight: 500;
        font-size: rem(12);
        line-height: rem(16);
        position: relative;
        padding-left: rem(16);
        margin-bottom: rem(14);
        display: inline-block;
        width: 50%;
        vertical-align: top;
        @include mq-w(383px) {
          padding-right: rem(8);
          width: calc(100% / 2);
        }
        @include mq-w(431px) {
          width: calc(100% / 3);
        }
        @include mq-w(1100px) {
          width: calc(100% / 4);
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          width: rem(16);
          height: rem(16);
          background-image: url(images/check.svg);
          background-size: rem(10);
          background-repeat: no-repeat;
          background-position: center;
        }

        &.disabled {
          color: $cl-grey;

          &:before {
            background-image: url(images/dcheck.svg);
          }
        }

        > * {
          padding-left: rem(1);
          font: {
            family: Inter;
            weight: 300;
            size: rem(11);
          }
          line-height: rem(16);
        }
      }
    }
  }

  &__drop {
    padding: 24px 16px;

    &__wrap {
      padding-top: 16px;
      display: none;

      &.visible {
        display: block;
      }
    }

    &__item {
      position: relative;
      font: {
        size: rem(12);
        family: Inter;
        weight: 500;
      }
      line-height: rem(16);
      display: inline-block;
      width: 100%;
      vertical-align: top;
      margin-bottom: rem(16);
      padding-left: rem(16);

      &::before {
        content: '';
        display: block;
        width: rem(3.5);
        height: rem(3.5);
        border-radius: 50%;
        background: $cl-black;
        position: absolute;
        left: rem(8);
        top: rem(6);
      }

      @include mq-w(383px) {
        padding-right: rem(8);
        width: calc(100% / 2);
      }
      @include mq-w(431px) {
        width: calc(100% / 3);
      }
      @include mq-w(1100px) {
        width: calc(100% / 4);
      }

      > * {
        padding-left: rem(1);
        font-weight: 300;
      }
    }

    &__h4 {
      display: inline-block;
      padding-right: rem(25);
      position: relative;
      font: {
        size: rem(12);
        weight: 800;
        family: Inter;
      }
      cursor: pointer;
      transition: .25s all ease-in-out;

      @include mq-w(383px) {
        line-height: rem(28);
        font-size: rem(14);
      }
      @include mq-w(535px) {
        font-size: rem(18);
      }

      &::after {
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        background-image: url("images/arrow-equipment.svg");
        background-repeat: no-repeat;
        background-position: center;
        content: "";
        display: block;
        width: rem(20);
        height: rem(20);
        transition: .25s all ease-in-out;
      }

      &.rotated {
        &::after {
          transform: rotate(90deg);
        }
      }

      &:hover {
        color: $cl-blue;

        &::after {
          background-image: url("images/arrow-equipment-hover.svg");
        }
      }
    }

    &__h5 {
      padding: rem(8) 0 rem(16) 0;
      font: {
        size: rem(14);
        family: Inter;
        weight: 600;
      }
      @include mq-w(530px) {
        padding-top: rem(11);
      }
    }

    &__text {
      margin-left: rem(-16);
      padding: 0 rem(16) 0 rem(16);
    }

    &.disabled {
      color: $cl-grey;
    }
  }
}

.arrow-table {
  position: absolute;
  right: 0;
  bottom: rem(-5);
  cursor: pointer;
  transition: transform .3s;
  background-image: url(images/arrow-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: rem(24);
  height: rem(24);

  &:hover {
    background-image: url("images/arrow-hover.svg");
  }

  @include mq-w(380px) {
    bottom: rem(-5);
  }

  @include mq-w(785px) {
    bottom: rem(-5);
  }
}