// - var pathImg = '{$theme_modules}infrastructure/images/'
// - var pathImg = 'images/'
//
//  doctype html
//  head
//  meta(charset='UTF-8')
//  meta(name="viewport" content="width=device-width, initial-scale=1.0")
//  link(rel='stylesheet' href='infrastructure.css')
//  script(rel='script' src='infrastructure.js')
//  title Football Camps

mixin tableArrow()
    .arrow-table

mixin headers()
    .infr__table__head
        img.infr__table__img(src=pathImg + 'minipool.svg' alt='mini pool')
        h4.infr__table__text Olympic Swimming pool

mixin tableRow(isOpen)
    dl.infr__table__param.infr__table__param--lt
        div
            dt Lines
            dd 6
        div
            dt Length
            dd 25m
        div
            dt Width
            dd 20m
        div
            dt Depth
            dd 2m
        div
            dt Indoor/Outdoor
            dd Indoor
        +tableArrow()

mixin optionsList()
    .infr__table__info.infr__table__row(class={'visible': isOpen})
        ul.infr__table__list
            li Option Lorem ipsum.
                span (101)
            li Option
                span (101)
            li Option Lorem ipsum dolor sit amet. lorem
                span (101)
            li Option
                span (101)
            li Option
                span (101)
            li.disabled Option
                span (101)
            li.disabled Option
                span (101)
            li.disabled Option
                span (101)
        p Access to the gym is included in the price of the Gloria Sport Arena packages. Access to the gym is included in the price of the Gloria Sport Arena packages.

mixin headersFintess()
    .infr__table__head
        .infr__table__text Gym Hall

mixin tableRowFitness(isOpen)
    dl.infr__table__param.infr__table__param--lt
        //div
        //    dt Lines
        //    dd 6
        div
            dt Length
            dd 25m
        div
            dt Width
            dd 20m
        div
            dt Depth
            dd 2m
        div
            dt Indoor/Outdoor
            dd Indoor
        +tableArrow() is included in the price of the Gloria Sport Arena packages. Access to the gym is included in the price of the Gloria Sport Arena packages.

mixin equipmentListItem
    li.infr__drop__item 01 Name of equipment for an Olympic swimming pool
        span (3)

.infr-bl#infrastructure
    section.infr.wrapper.pd_block
        div
            h2.infr__h2 Sport infrastructure overview
            section
                header
                    h3.infr__h3 Swimming
                .infr__table__wrap.infr__table
                    .infr__table--lt
                        div
                            +headers
                        div
                            +tableRow(false)
                    div
                        +optionsList()
                section.infr__drop
                    header
                        h4.infr__drop__h4 Swimming Equipment (Storage Room)
                    .infr__drop__wrap
                        .infr__drop__text
                            ul
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                        .infr__drop__text
                            h5.infr__drop__h5 Product available for order from Active Planet Sport for Swimming:
                            ul
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                        .infr__drop__text.disabled
                            h5.infr__drop__h5 Inventory not available:
                            ul
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
            section
                header
                    h3.infr__h3 Fitness
                .infr__table__wrap.infr__table
                    .infr__table--lt
                        div
                            +headersFintess
                        div
                            +tableRowFitness(true)
                    div
                        +optionsList()
                section.infr__drop
                    header
                        h4.infr__drop__h4 Swimming On-site
                    .infr__drop__wrap
                        .infr__drop__text
                            ul
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem

                        .infr__drop__text
                            h5.infr__drop__h5 Product available for order from Active Planet Sport for Swimming:
                            ul
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                        .infr__drop__text.disabled
                            h5.infr__drop__h5 Inventory not available:
                            ul
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem