- var pathImg = '{$theme_modules}infrastructure/images/'
// - var pathImg = 'images/'
//
// doctype html
// head
// meta(charset='UTF-8')
// meta(name="viewport" content="width=device-width, initial-scale=1.0")
// link(rel='stylesheet' href='infrastructure.css')
// script(rel='script' src='infrastructure.js')
// title Football Camps

mixin tableArrow(isOpen)
    .arrow-table_js(class={'rotated': isOpen})

mixin headers()
    .infr__table__head
        img.infr__table__img(src=pathImg + 'minipool.svg' alt='mini pool')
        h4.infr__table__text Olympic Swimming pool

mixin tableRow(isOpen)
    dl.parameters.parameters--lt
        div
            dt Lines
            dd 6
        div
            dt Length
            dd 25m
        div
            dt Width
            dd 20m
        div
            dt Depth
            dd 2m
        div
            dt Indoor/Outdoor
            dd Indoor
    +tableArrow(isOpen)

mixin optionsList(isOpen)
    .infr__table__info.infr__table__info--lt.infr__table__info_js(class={'visible': isOpen})
        ul.infr__table__list.infr__table__list--lt
            li Option Lorem ipsum.
                span (101)
            li Option
                span (101)
            li Option Lorem ipsum dolor sit amet. lorem
                span (101)
            li Option
                span (101)
            li Option
                span (101)
            li.disabled Option
                span (101)
            li.disabled Option
                span (101)
            li.disabled Option
                span (101)
        p.content Access to the gym is included in the price of the Gloria Sport Arena packages. Access to the gym is included in the price of the Gloria Sport Arena packages.

mixin headersFintess()
    .infr__table__head
        h4.infr__table__text Gym Hall

mixin tableRowFitness(isOpen)
    dl.parameters.parameters--lt
        //div
        //    dt Lines
        //    dd 6
        div
            dt Length
            dd 25m
        div
            dt Width
            dd 20m
        div
            dt Depth
            dd 2m
        div
            dt Indoor/Outdoor
            dd Indoor
    +tableArrow()

mixin equipmentListItem
    li 01 Name of equipment for an Olympic swimming pool
        span (3)

.infr-bl#infrastructure
    section.infr.wrapper.pd_block
        div
            h2.head_h2 Sport infrastructure overview
            section
                header
                    h3.infr__title.head_h3 Swimming
                .infr__table.infr__table--lt.infr__table_js
                    div
                        div
                            +headers
                        div
                            +tableRow(true)
                    div
                        +optionsList(true)
                .infr__table.infr__table--lt.infr__table_js
                    div
                        div
                            +headers
                        div
                            +tableRow()
                    div
                        +optionsList()
                section.drop.drop_js
                    header
                        .drop__header
                            h4.drop__head.drop__head--lt Swimming Equipment (Storage Room)
                            svg.drop__icon.drop__icon_js
                                use(href=pathImg + 'all-svg.svg#arrow-equipment')
                    ul.drop__wrap_js
                        li
                            ul.equipment.equipment--lt
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                        li
                            h5.drop__title Product available for order from Active Planet Sport for Swimming:
                            ul.equipment.equipment--lt
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                        li.disabled
                            h5.drop__title Inventory not available:
                            ul.equipment.equipment--lt
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
            section
                header
                    h3.infr__title.head_h3 Fitness
                .infr__table.infr__table--lt.infr__table_js
                    div
                        div
                            +headersFintess
                        div
                            +tableRowFitness()
                    div
                        +optionsList()
                section.drop.drop_js
                    header
                        .drop__header
                            h4.drop__head.drop__head--lt Swimming Equipment (Storage Room)
                            svg.drop__icon.drop__icon_js
                                use(href=pathImg + 'all-svg.svg#arrow-equipment')
                    ul.drop__wrap_js
                        li
                            ul.equipment.equipment--lt
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                        li
                            h5.drop__title Product available for order from Active Planet Sport for Swimming:
                            ul.equipment.equipment--lt
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                        li.disabled
                            h5.drop__title Inventory not available:
                            ul.equipment.equipment--lt
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem
                                +equipmentListItem