//@charset "UTF-8";
//@import "../../../css/_mixin";
//@import "../../../css/_var";
//@import "../../../css/_ext";
////------------------------------
//@import "../../base/_var";
//@import "../../base/_ext";

@import "../../../css/mixin";
@import "../../../css/foundation";
@import "../../../css/ext";
@import "../../../css/var";
//------------------------------
@import "../../base/var";
@import "../../base/class";
@import "../../base/font";
@import "../../base/ext";
@import "../../base/base";

$cl-black: #2F3B40;
$cl-grey: #ccc;
$cl-blue: #5BBCE4FF;
$cl-gradient: #D3D3D3;
$cl-white: #FFFFFF;
$cl-hover: #F4FCFF;
$cl-h1grey: #7F7F7F;

.infrastructure {
  &.wrapper {
    padding-top: 0;
  }

  &_arrow {
    position: absolute;
    bottom: 15px;
    right: 0;
    cursor: pointer;
    transition: transform .2s;


    @include mq-w(380px) {
      right: 4px;
    }

    @include mq-w(785px) {
      right: 16px;
      bottom: 21px;
    }
  }

  &__swimpool {
    &_headlines {
      &-p {
        color: $cl-h1grey;
        font-family: $font-head;
        font-size: 16px;
        line-height: 27px;
        font-weight: 800;
        text-transform: uppercase;
      }

      &-h {
        font-family: $font-head;
        font-size: 20px;
        font-weight: 700;
        padding: {
          top: 32px;
          bottom: 16px;
        }
      }
    }
  }

  &__filling {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 10%);
    border-radius: 16px;

    &_table {
      padding: {
        top: 16px;
        left: 16px;
        //bottom: 19px;
        right: 16px;
      }
      position: relative;

      &.head {
        display: none;

        @include mq-w(785px) {
          display: block;
        }
      }

      &.pt-0 {
        padding-top: 16px;
        background: linear-gradient(to right, $cl-gradient 50%, $cl-gradient 50%);
        background-size: 100% 1px;
        background-position: top;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: ease-out .2s;
        @include mq-w(785px) {
          padding-top: 0;
        }

        &:hover {
          background-color: $cl-hover;

          .infrastructure_arrow {
            path {
              fill: $cl-blue;
            }
          }
        }
      }

      &.rotated {
        .infrastructure_arrow {
          transform: rotate(135deg);
        }
      }

      &.no-border {
        background: none;
        @include mq-w(785px) {
          background: linear-gradient(to right, $cl-gradient 50%, $cl-gradient 50%);
          background-size: 100% 1px;
          background-position: top;
          background-repeat: no-repeat;
        }
      }

      &-wrapper {
        position: relative;
        @include mq-w(785px) {
          display: flex;
          justify-content: space-between;
          padding-right: 70px;
        }
      }

      &_first {
        padding-bottom: 16px;

        &_col {
          padding-bottom: 16px;
          @include mq-w(785px) {
            width: 326px;
            display: inline-flex;
            padding-bottom:0;
          }
        }
      }

      &_second {
        &_col {
          display: flex;
          gap: 8px;
          padding-bottom: 16px;
          @include mq-w(380px) {
            gap: 16px;
          }
          @include mq-w(785px) {
            display: inline-flex;
            padding-bottom: 0;
            gap: 20px;
          }
          @include mq-w(900px) {
            gap: 50px;
          }
          @include mq-w(1050px) {
            gap: 88px;
          }

          .infrastructure__filling_table_row:first-child {
            @include mq-w(785px) {
              height: 0;
              opacity: 0;
            }
          }

          &.head {
            .infrastructure__filling_table_row:first-child {
              @include mq-w(785px) {
                opacity: 1;
                height: 100%;
              }
            }
          }
        }
      }

      &_row {
        display: flex;
        align-items: center;
      }

      &-img {
        width: 64px;
        height: 30px;
        margin-right: 8px;
      }

      &-text {

        font: {
          size: 12px;
          family: Inter;
          weight: 600;
        }
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $cl-black;

        @include mq-w(535px) {
          font-size: 14px;
        }
      }

      &-params {
        font: {
          size: 10px;
          family: Raleway;
          weight: 500;
        }
        color: $cl-black;
        line-height: 14px;
        letter-spacing: 0.2px;

        @include mq-w(383px) {
          font-size: 11px;
        }
        @include mq-w(535px) {
          font-size: 12px;
        }
        @include mq-w(785px) {
          padding: {
            top: 4px;
            bottom: 16px;
          }
        }
      }

      &-value {
        font: {
          size: 11px;
          family: Inter;
          weight: 600;
        }
        color: $cl-black;
        line-height: 18px;
        letter-spacing: 0.2px;
        @include mq-w(383px) {
          font-size: 12px;
        }
        @include mq-w(535px) {
          font-size: 14px;
          padding-top: 11px;
        }
        @include mq-w(785px) {
          padding: 22px 0;
        }
      }

      &_horizon {
        display: flex;;
        align-items: center;
        flex-direction: column;
      }

      &_addition {
        width: calc(100% + 32px);
        margin-left: -16px;
        padding: 16px 16px 24px 16px;
        background: linear-gradient(to right, $cl-gradient 50%, $cl-gradient 50%);
        background-size: 100% 1px;
        background-position: top;
        background-repeat: no-repeat;
        background-color: $cl-white;
        display: none;

        &.visible {
          display: block;
          cursor: auto;
        }
        &-text{
          font:{
            family: Inter;
            weight: 400;
            size: 12px;
          }
          padding-bottom: 16px;
          line-height: 16px;
          letter-spacing: 0.2px;

          @include mq-w(744px){
            padding-bottom: 24px;
            line-height: 24px;
            font-size: 14px;
          }
        }
        &-p {
          font-family: $font-head;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          position: relative;
          padding-left: 16px;
          margin-bottom: 14px;
          display: inline-block;
          width: 50%;
          vertical-align: top;
          @include mq-w(383px) {
            padding-right: 8px;
            width: calc(100% / 2);
          }
          @include mq-w(431px) {
            width: calc(100% / 3);
          }
          @include mq-w(1100px) {
            width: calc(100% / 4);
          }

          &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 16px;
            height: 16px;
            background-image: url(images/check.svg);
            background-size: 10px;
            background-repeat: no-repeat;
            background-position: center;
          }

          &--deny {
            color: $cl-grey;

            &:before {
              background-image: url(images/dcheck.svg);
            }
          }
        }
        &-span{
          padding-left: 1px;
          font:{
            family: Inter;
            weight: 300;
            size: 11px;
          }
          line-height: 16px;
        }
      }

      &_info {
        background: linear-gradient(to right, $cl-gradient 50%, $cl-gradient 50%);
        background-size: 100% 1px;
        background-position: top;
        background-repeat: no-repeat;
        padding: 24px 16px;

        &-wrapper {
          padding-top: 16px;
          display: none;

          &.visible {
            display: block;
          }
        }

        &_contains {
          display: flex;

          &-h3 {
            font: {
              size: 12px;
              weight: 800;
              family: Inter;
            }
            cursor: pointer;

            @include mq-w(383px) {
              line-height: 28px;
              font-size: 14px;
            }
            @include mq-w(535px) {
              font-size: 18px;
            }
          }
          &:hover {
            color: $cl-blue;

            .infrastructure__filling_table_info_contains-arrow {
              path {
                fill: $cl-blue;
              }
            }
          }
          &-arrow {
            transition: transform .2s;
            margin-left: 8px;
              margin-top: -3px;
            @include mq-w(385px) {
              margin-top: 0;
            }
          }

          &.rotated {
            .infrastructure__filling_table_info_contains-arrow {
              transform: rotate(90deg);
            }
          }
        }

        &_text {
          width: calc(100% + 32px);
          margin-left: -16px;
          padding: 0 16px 0 16px;

          &-h4 {
            padding: 8px 0 16px 0;
            font: {
              size: 14px;
              family: Inter;
              weight: 600;
            }
          }

          &-p {
            position: relative;
            font: {
              size: 12px;
              family: Inter;
              weight: 500;
            }
            line-height: 16px;
            display: inline-block;
            width: 100%;
            vertical-align: top;
            margin-bottom: 16px;
            padding-left: 16px;

            &::before {
              content: '';
              display: block;
              width: 3.5px;
              height: 3.5px;
              border-radius: 50%;
              background: $cl-black;
              position: absolute;
              left: 8px;
              top: 6px;
            }

            @include mq-w(383px) {
              padding-right: 8px;
              width: calc(100% / 2);
            }
            @include mq-w(431px) {
              width: calc(100% / 3);
            }
            @include mq-w(1100px) {
              width: calc(100% / 4);
            }
          }
        }

        &.disabled {
          color: $cl-grey;
        }
      }
    }
  }
}
.equipment-number{
  padding-left: 1px;
  font-weight: 300;
}



