// - var pathImg = '{$theme_modules}infrastructure/images/'
- var pathImg = 'images/'

doctype html
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='infrastructure.css')
    script(rel='script' src='infrastructure.js')
    title Football Camps

mixin tableArrow()
     .arrow-table

mixin headers()
    div
        p.infr__table__cell Lines
    div
        p.infr__table__cell Length
    div
        p.infr__table__cell Width
    div
        p.infr__table__cell Depth
    div
        p.infr__table__cell Indoor/Outdoor

mixin headersFintess()
    div
        p.infr__table__cell Hall square footage
    div
        p.infr__table__cell Surface
    div
        p.infr__table__cell Indoor
    div
        p.infr__table__cell Indoor
    div
        p.infr__table__cell Indoor/Outdoor

mixin optionsList()
    ul.infr__table__list
        li Option Lorem ipsum.
            span (101)
        li Option
            span (101)
        li Option Lorem ipsum dolor sit amet. lorem
            span (101)
        li Option
            span (101)
        li Option
            span (101)
        li.disabled Option
            span (101)
        li.disabled Option
            span (101)
        li.disabled Option
            span (101)

mixin tableRow(isOpen)
    li.infr__table__row(class={'rotated': isOpen})
        .infr__table__wrap
            .infr__table__col
                div
                    img.infr__table__img(src=pathImg + 'minipool.svg' alt='mini pool')
                    .infr__table__text Olympic Swimming pool
            .infr__table__col
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Lines
                    div
                        p.infr__table__value 6
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Length
                    div
                        p.infr__table__value 25 m
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Width
                    div
                        p.infr__table__value 20 m
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Depth
                    div
                        p.infr__table__value 2 m
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Indoor/Outdoor
                    div
                        p.infr__table__value Indoor
                +tableArrow()
        .infr__table__info(class={'visible': isOpen})
            +optionsList

mixin tableRowFitness(isOpen)
    li.infr__table__row.pt-0(class={'no-border rotated': isOpen})
        .infr__table__wrap
            .infr__table__col
                div
                    .infr__table__text Gym Hall
            .infr__table__col
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Hall square footage
                    div
                        p.infr__table__value 40m²
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Hall square footage
                    div
                        p.infr__table__value 40m²
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Hall square footage
                    div
                        p.infr__table__value 40m²
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Surface
                    div
                        p.infr__table__value Hard
                .infr__table__vert
                    div
                        p.infr__table__cell.db-mob Indoor/Outdoor
                    div
                        p.infr__table__value Indoor
                +tableArrow()
        .infr__table__info(class={'visible': isOpen})
            p Access to the gym is included in the price of the Gloria Sport Arena packages. Access to the gym is included in the price of the Gloria Sport Arena packages.
            +optionsList

mixin equipmentListItem
    li.infr__drop__item 01 Name of equipment for an Olympic swimming pool
        span (3)

.infr-bl
    section.infr.wrapper.pd_block
        div
            h2.infr__h2 Sport infrastructure overview
            section
                header
                    h3.infr__h3 Swimming pool
                .infr__table
                    .infr__table__row.dn-desk
                        .infr__table__wrap.infr__table__head
                            .infr__table__col.w-100
                                +headers
                    ul.infr__table__rows
                        +tableRow(true)
                        +tableRow
                        +tableRow

                    section.infr__drop
                        header
                            h4.infr__drop__h4 Swimming Equipment (Storage Room)
                        .infr__drop__wrap
                            .infr__drop__text
                                ul
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                            .infr__drop__text
                                h5.infr__drop__h5 Product available for order from Active Planet Sport for Swimming:
                                ul
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                            .infr__drop__text.disabled
                                h5.infr__drop__h5 Inventory not available:
                                ul
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
            section
                header
                    h3.infr__h3 Fitness
                .infr__table
                    .infr__table__row.dn-desk
                        .infr__table__wrap.infr__table__head
                            .infr__table__col.w-100
                                +headersFintess
                    ul.infr__table__rows
                        +tableRowFitness(true)
                        +tableRowFitness

                    section.infr__drop
                        header
                            h4.infr__drop__h4 Swimming Equipment (Storage Room)
                        .infr__drop__wrap
                            .infr__drop__text
                                ul
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem

                            .infr__drop__text
                                h5.infr__drop__h5 Product available for order from Active Planet Sport for Swimming:
                                ul
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                            .infr__drop__text.disabled
                                h5.infr__drop__h5 Inventory not available:
                                ul
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem
                                    +equipmentListItem