.services2-bl
	section.services2
		.wrapper.pd_block
			h2.head_h2.services2-title What is usually included in the training camp price?
			ul.services2-lt
				li Transfers Airport - Hotel - Airport	
				li Free gym at the stadium or hotel	
				li Workouts 2 times a day for 90 minutes
				li Sports Inventory and equipment
				li Rent Professional Water polo pools (indoor/outdoor)
				li Coach accommodation is free for a group of 15 athlete
				li Accompanying groups 24/7 during the entire sports camp
				li Assistance in registration of entry documents and visas
				li Conference rooms, fitness centers, Sauna, SPA, massage rooms
				li Storage room, conference room, massage room
				li 3 meals a day in accordance with the requirements and wishes of athletes
				li Accommodation in hotels from 3 * to 5 * + (We place groups on the same floor, all rooms are located next to each other)
			a(href="#").btn.services2-btn Make a request