@charset "UTF-8";
/**
 * Хлебные крошки
 */
/*%pd_lr_block {
    $pd_lr_block: '0.6rem + 1.6vw' !default;

    @include pd_lr($pd_lr_block, 0, true);
}
%pd_block {
    $pd_tb_block: '1.6rem + 2vw' !default;

    @extend %pd_lr_block;
    @include pd_tb($pd_tb_block, 0, true);
}*/
.hotel-overview {
  /* RATING STARS BLOCK */
  /* TABS BLOCK */
}
.hotel-overview__bl-h1 {
  font-family: Raleway;
  font-weight: 800;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #A1ADB2;
}
.hotel-overview__bl_info {
  padding-top: 16px;
}
@media (min-width: 680px) {
  .hotel-overview__bl_info {
    display: flex;
  }
}
.hotel-overview__bl_info-wrapper {
  position: relative;
  display: flex;
  height: 270px;
  max-width: 100%;
}
@media (min-width: 680px) {
  .hotel-overview__bl_info-wrapper {
    max-height: 226px;
    max-width: 330px;
    padding-top: 0;
  }
}
.hotel-overview__bl_info-wrapper-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
@media (min-width: 680px) {
  .hotel-overview__bl_info-wrapper-img {
    width: 330px;
  }
}
.hotel-overview__bl_info-wrapper-p {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 4px 10px;
  border-radius: 24px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.hotel-overview__bl_info-details {
  padding-top: 24px;
}
@media (min-width: 680px) {
  .hotel-overview__bl_info-details {
    padding-top: 0;
    max-width: calc(100% - 330px);
    padding-left: 24px;
  }
}
.hotel-overview__bl_info-details-h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: Raleway;
  line-height: 27px;
  padding-top: 8px;
  padding-bottom: 16px;
}
.hotel-overview__bl_info-details-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 24px;
  color: #535556;
  gap: 8px;
  position: relative;
}
.hotel-overview__bl_info-details-checkbox {
  display: none;
}
.hotel-overview__bl_info-details-description {
  max-height: 9em;
  overflow: hidden;
  transition: max-height 0.3s ease;
  gap: 8px;
  display: grid;
}
@media (min-width: 500px) {
  .hotel-overview__bl_info-details-description {
    max-height: 6em;
  }
}
@media (min-width: 960px) {
  .hotel-overview__bl_info-details-description {
    max-height: 6em;
  }
}
.hotel-overview__bl_info-details-checkbox:checked ~ .hotel-overview__bl_info-details-description {
  max-height: none;
}
.hotel-overview__bl_info-details-toggle {
  display: block;
  cursor: pointer;
  color: #5BBCE4;
  line-height: 25.6px;
  font-weight: 700;
  font-size: 16px;
  font-family: Raleway;
}
@media (min-width: 1970px) {
  .hotel-overview__bl_info-details-toggle {
    display: none;
  }
}
.hotel-overview__bl_info-details-toggle::after {
  content: "Read more";
}
.hotel-overview__bl_info-details-checkbox:checked ~ .hotel-overview__bl_info-details-toggle::after {
  content: "Show less";
}
.hotel-overview__bl_table {
  margin-top: 24px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 24px;
}
@media (min-width: 677px) {
  .hotel-overview__bl_table {
    column-gap: 4%;
    padding-left: 0;
    padding-right: 0;
  }
}
.hotel-overview__bl_table-check {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 0 16px;
}
@media (min-width: 450px) {
  .hotel-overview__bl_table-check {
    column-gap: 19px;
  }
}
@media (min-width: 510px) {
  .hotel-overview__bl_table-check {
    column-gap: 71px;
  }
}
@media (min-width: 585px) {
  .hotel-overview__bl_table-check {
    column-gap: 109px;
  }
}
@media (min-width: 677px) {
  .hotel-overview__bl_table-check {
    column-gap: 4%;
  }
}
@media (min-width: 840px) {
  .hotel-overview__bl_table-check {
    column-gap: 61px;
  }
}
@media (min-width: 1012px) {
  .hotel-overview__bl_table-check {
    column-gap: 28px;
  }
}
@media (min-width: 1200px) {
  .hotel-overview__bl_table-check {
    column-gap: 41px;
  }
}
@media (min-width: 1509px) {
  .hotel-overview__bl_table-check {
    column-gap: 39px;
  }
}
@media (min-width: 1600px) {
  .hotel-overview__bl_table-check {
    column-gap: 48px;
  }
}
@media (min-width: 1729px) {
  .hotel-overview__bl_table-check {
    column-gap: 97px;
  }
}
.hotel-overview__bl_table-check--td {
  vertical-align: top;
}
.hotel-overview__bl_table-check-p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  position: relative;
  padding-left: 16px;
  margin-bottom: 8px;
  max-width: 180px;
  width: 100%;
}
@media (min-width: 850px) {
  .hotel-overview__bl_table-check-p {
    max-width: 202px;
    margin-bottom: 14px;
    font-size: 12px;
  }
}
.hotel-overview__bl_table-check-p:before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../../../../images/check.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.hotel-overview__bl_table-check-p--deny {
  color: #ccc;
}
.hotel-overview__bl_table-check-p--deny:before {
  background-image: url(../../../../images/dcheck.svg);
}
.hotel-overview__bl_request {
  background-color: #94BE31;
  border-radius: 14px;
  margin-top: 40px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
@media (min-width: 550px) {
  .hotel-overview__bl_request {
    justify-content: space-around;
  }
}
@media (min-width: 680px) {
  .hotel-overview__bl_request {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 32px;
  }
}
@media (min-width: 1334px) {
  .hotel-overview__bl_request {
    gap: 34px;
    padding: 40px;
  }
}
.hotel-overview__bl_request_text {
  padding-bottom: 16px;
  align-content: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 11px;
  line-height: 17px;
  color: #FFF;
}
@media (min-width: 333px) {
  .hotel-overview__bl_request_text {
    font-size: 12px;
  }
}
@media (min-width: 362px) {
  .hotel-overview__bl_request_text {
    font-size: 13px;
  }
}
@media (min-width: 430px) {
  .hotel-overview__bl_request_text {
    font-size: 16px;
  }
}
@media (min-width: 680px) {
  .hotel-overview__bl_request_text {
    padding-bottom: 0;
  }
}
@media (min-width: 680px) {
  .hotel-overview__bl_request_text {
    font-size: 18px;
  }
}
@media (min-width: 1334px) {
  .hotel-overview__bl_request_text {
    font-size: 24px;
    line-height: 27px;
    height: 54px;
    width: 492px;
  }
}
.hotel-overview__bl_request_arrow {
  width: 76px;
  height: 50px;
}
@media (min-width: 340px) {
  .hotel-overview__bl_request_arrow {
    width: 80px;
  }
}
@media (min-width: 390px) {
  .hotel-overview__bl_request_arrow {
    width: 100px;
  }
}
@media (min-width: 500px) {
  .hotel-overview__bl_request_arrow {
    min-width: 100px;
    width: 135px;
  }
}
@media (min-width: 1334px) {
  .hotel-overview__bl_request_arrow {
    width: 200px;
    height: 24px;
  }
}
.hotel-overview__bl_request_arrow--desk {
  display: none;
}
@media (min-width: 500px) {
  .hotel-overview__bl_request_arrow--desk {
    display: inline-block;
  }
}
@media (min-width: 500px) {
  .hotel-overview__bl_request_arrow--mob {
    display: none;
  }
}
.hotel-overview__bl_request_btn {
  align-content: center;
}
.hotel-overview__bl_request_btn .btn {
  margin: 0;
  border-radius: 12px;
  color: #94BE31;
  background-color: #FFF;
  text-transform: uppercase;
  padding: 10px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 430px) {
  .hotel-overview__bl_request_btn .btn {
    font-size: 16px;
    padding: 15px 32px;
  }
}
.hotel-overview__bl_request_btn .btn .greenBtn {
  margin: 0;
}
.hotel-overview .stars {
  display: flex;
  gap: 1.86px;
}
.hotel-overview .stars__item {
  width: 15px;
  height: 15px;
}
.hotel-overview .stars__item--active {
  fill: rgb(243, 204, 64);
}
.hotel-overview .tabs {
  width: 100%;
  max-width: 235px;
  padding: 4px;
  border: 2px solid #2F3B40;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 16px;
}
@media (min-width: 350px) {
  .hotel-overview .tabs {
    max-width: 285px;
  }
}
.hotel-overview .tabs__head {
  white-space: nowrap;
  padding: 11px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}
@media (min-width: 336px) {
  .hotel-overview .tabs__head {
    font-size: 13px;
  }
}
@media (min-width: 350px) {
  .hotel-overview .tabs__head {
    font-size: 14px;
    padding: 11px 16px;
  }
}
.hotel-overview .tabs__head.active {
  color: #fff;
  background-color: #2F3B40;
}
.hotel-overview .tabs__head:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.hotel-overview .tabs__head:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.hotel-overview .tabs-content__item {
  width: 100%;
}
.hotel-overview .tabs-content__item-submit {
  margin-top: 24px;
  margin-left: 8px;
  padding: 15px 32px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 13px;
  line-height: 24px;
  color: #FFF;
  background-color: #C4C9BA;
  border: none;
  border-radius: 12px;
  cursor: not-allowed;
}
.hotel-overview .tabs-content__item-submit.active {
  background-color: #94BE31;
  cursor: pointer;
}
.hotel-overview .tabs-content__item-submit:hover {
  background-color: #94BE31;
}
.hotel-overview .tabs:hover {
  cursor: pointer;
}
.hotel-overview .room-form {
  overflow-y: auto;
}
.hotel-overview .room-form__container {
  width: 100%;
}
.hotel-overview .room-form__table {
  width: 100%;
  border-collapse: collapse;
}
.hotel-overview .room-form__header {
  background-color: #f3f3f3;
  font-weight: bold;
}
.hotel-overview .room-form__header-cell {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  text-align: left;
  font-size: 12px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 14px;
}
.hotel-overview .room-form__row {
  border-bottom: 1px solid #d3d3d3;
}
.hotel-overview .room-form__cell {
  vertical-align: middle;
  padding-right: 63px;
}
.hotel-overview .room-form__cell-description {
  width: 240px;
  margin: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #2F3B40;
}
.hotel-overview .room-form__cell:last-child {
  text-align: center;
  padding-right: 126px;
  padding-left: 63px;
}
.hotel-overview .room-form__type-name {
  padding: 20px 24px;
  width: 240px;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: block;
}
.hotel-overview .room-form__input {
  width: 60px;
  height: 48px;
  border: 1px solid #DBDFE1;
  border-radius: 12px;
  background-color: #EEEEEE;
  color: #333;
  text-align: center;
  -moz-appearance: textfield;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.hotel-overview .room-form__input::-webkit-outer-spin-button, .hotel-overview .room-form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hotel-overview .room-form__input.filled {
  background-color: #FAFFED;
  color: #637075;
}
.hotel-overview .room-form__input:focus-visible, .hotel-overview .room-form__input:focus, .hotel-overview .room-form__input:active {
  outline-color: #94BE31;
}
.hotel-overview .hide {
  display: none;
}
.hotel-overview .show {
  display: flex;
}

/*# sourceMappingURL=hoteloverview.css.map */
