// Контрольные точки
$tel:       320px;
$tel_albom: 480px;//480
$smart:     544px;//480
$tab:       768px;//800
$note:      1008px;//992
$pk:        1200px;
$wide:      1360px;
$full:      1584px;

$font-sans: Verdana,Geneva,"DejaVu Sans",sans-serif;

$dir_i: 'i/';
$dir_i_base: '../base/i/';

// интервал 0.75rem = 20px
$spacing_mini:  0.06em;
$spacing_min:   0.1em;
$spacing_large: 0.16em;

// color
$cl:        lighten(black, 0%);
$cl_light:  lighten(black, 20%);
$cl_grey:   lighten(black, 60%);
$cl-bg:     darken(white, 0%);
$cl-viber: #834995;
$cl-whatsapp: #00D95F;

$cl-white: #FFF;
$cl-green: #94BE31;
$cl-orange: #F39540;
$cl-blue: #5BBCE4;
$cl_othergreen: #95C03D;
$cl_Lightgray: #637075;
$cl-lightgreen: #FAFFED;
$cl-orange: #F39540;
$cl-h1grey: #A1ADB2;
$cl-black: #2F3B40;
$cl-head: #A1ADB2;
$cl_background: #F2F9FD;
$cl_lightBlack: #2F3B40;

$pd_rl_flex_tab: 1rem;

$urlPic: '../../../../images/';
$dynamic-padding: calc(8px + ((100 - 8) * ((100vw - 320px) / (1920 - 320))));
