@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//------------------------------
@import "../../base/_var";
@import "../../base/_ext";
//------------------------------
@include f-carouselStyle;

$cl_othergreen: #95C03D;
$cl_Lightgray: #637075;


.excursions {
  &__bl {
    &-h2 {
      font: {
        family: Raleway;
        weight: 800;
        size: 22px;
      }
      line-height: 38px;
      text-align: center;
      margin-bottom: 16px;
    }
  }

  &__sector {
    --f-carousel-spacing: 12px;
    --f-carousel-slide-width: 100%;
    @include mq-w(430px) {
      --f-carousel-spacing: 16px;
      --f-carousel-slide-width: calc((100% - 32px) / 2);
    }
    @include mq-w(670px) {
      --f-carousel-spacing: 24px;
      --f-carousel-slide-width: calc((100% - (24px * 2)) / 3);
    }
    @include mq-w(1024px) {
      --f-carousel-spacing: 24px;
      --f-carousel-slide-width: calc((100% - (24px * 3)) / 4);
    }

    &_container {
      border-radius: 16px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 8%);

      &-img {
        width: 100%;
      }

      &_info {
        text-align: center;
        padding: {
          top: 8px;
          right: 8px;
          left: 8px;
          bottom: 16px;
        }
        @include mq-w(850px) {
          padding: {
            top: 8px;
            right: 16px;
            left: 16px;
            bottom: 32px;
          }
        }

        &-h3 {
          font: {
            family: Raleway;
            weight: 600;
            size: 10px;
          }
          line-height: 27px;
          @include mq-w(401px) {
            font-size: 14px;
          }
          @include mq-w(780px) {
            font-size: 18px;
          }
        }

        &-price,
        &-span {
          font: {
            family: Inter;
            weight: 700;
            size: 14px;
          }
          color: $cl_othergreen;
          line-height: 19.36px;
          display: flex;
          justify-content: center;
          gap: 6px;
          padding: 5px 0;
          @include mq-w(401px) {
            font-size: 16px;
            padding: 8px 0;
          }
        }

        &-span {
          color: $cl_Lightgray;
        }

        &-duration {
          display: flex;
          justify-content: center;

          &-svg {
            width: 18px;
            height: 18px;
            padding-left: 2px;
          }

          &-p {
            font: {
              family: Inter;
              weight: 700;
              size: 14px;
            }
            color: $cl_Lightgray;
            line-height: 18px;
            @include mq-w(401px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .f-carousel {
    &__track {
      padding: 0 3px;
    }
  }
}



