@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//------------------------------
@import "../../base/_var";
@import "../../base/_ext";

$cl_green: #95C03D;
$cl_black: #637075;

.excursions {
  &__bl {
    &-h2 {
      font: {
        family: Raleway;
        weight: 800;
        size: 22px;
      }
      line-height: 38px;
      text-align: center;
      margin-bottom: 16px;
    }

  }

  &__complex {
    display: flex;
    gap: 16px;
    justify-content: center;

    @include mq-w(780px) {
      gap: 24px;
    }

    &_sector {
      box-shadow: 0 27.69230842590332px 88.61538696289062px 0 rgba(0, 0, 0, 8%);
      border-radius: 16px;
      max-width: 183px;



      &:nth-child(3), &:nth-child(4) {
        display: none;
      }

      @include mq-w(614px) {
        max-width: calc(100% / 3 - 16px);
        &:nth-child(3) {
          display: block;
        }
      }
      @include mq-w(1320px) {
        max-width: calc(25% - 12px);
        flex: 1 1 100%;
        &:nth-child(4) {
          display: block;
        }
      }

      &_container {
        &-img {
          width: 100%;
        }

        &_info {
          text-align: center;
          padding: {
            top: 8px;
            right: 8px;
            left: 8px;
            bottom: 16px;
          }
          @include mq-w(850px) {
            padding: {
              top: 8px;
              right: 16px;
              left: 16px;
              bottom: 32px;
            }
          }

          &-h3 {
            font: {
              family: Raleway;
              weight: 600;
              size: 10px;
            }
            line-height: 27px;

            @include mq-w(401px) {
              font-size: 14px;
            }
            @include mq-w(780px) {
              font-size: 18px;
            }
          }

          &-price,
          &-span {
            font: {
              family: Inter;
              weight: 700;
              size: 14px;
            }
            color: $cl_green;
            line-height: 19.36px;
            display: flex;
            justify-content: center;
            gap: 6px;
            padding: 5px 0;

            @include mq-w(401px) {
              font-size: 16px;
              padding: 8px 0;
            }
          }

          &-span {
            color: $cl_black;


          }

          &-duration {
            display: flex;
            justify-content: center;

            &-svg {
              width: 18px;
              height: 18px;
              padding-left: 2px;
            }

            &-p {
              font: {
                family: Inter;
                weight: 700;
                size: 14px;
              }
              color: $cl_black;
              line-height: 18px;
              @include mq-w(401px) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}