.country__title__head__img, .country__title__head {-webkit-transition: .5s ease;-moz-transition: all .5s ease 0s;-ms-transition: all .5s ease 0s;-o-transition: all .5s cubic-bezier(.25,.1,.25,1) 0;transition: all .5s ease 0s;}
.country__title {position: absolute;top: 0;left: 0;}
.country__title {width: 100%;height: 100%;}
.countries-lt {display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.countries-lt {-webkit-box-pack: center;-moz-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;}
.countries-lt {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.countries>*:not(:empty):not(:last-child) {margin-bottom: 2.4rem;}
.countries-bl {background-color: #fff;}
.countries-lt {gap: 1.6rem;}
@media (min-width: 800px) {.countries-lt {gap: 3.2rem;}}
.countries__header {text-align: center;}
.country {display: block;position: relative;overflow: hidden;padding-top: 83%;border-radius: 1.6rem;}
.country__wrap {max-width: 100%;width: 18rem;}
.country__title {padding: 44% 1.2rem 1.2rem 0;background: no-repeat center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.country__title__head {position: relative;display: inline-block;padding: .6rem 1.2rem;padding-left: -webkit-calc(32px + ( 1.2rem + .6rem ));padding-left: -moz-calc(32px + ( 1.2rem + .6rem ));padding-left: calc(32px + ( 1.2rem + .6rem ));background-color: #fff;border-radius: 0 .6rem .6rem 0;}
a:hover .country__title__head {padding-left: -webkit-calc(32px + ( 1.2rem + .6rem + 1.6rem ));padding-left: -moz-calc(32px + ( 1.2rem + .6rem + 1.6rem ));padding-left: calc(32px + ( 1.2rem + .6rem + 1.6rem ));}
.country__title__head__img {position: absolute;top: .4rem;left: 1.2rem;width: 32px;}
a:hover .country__title__head__img {left: 2.8rem;}
@charset "UTF-8";
.infostart-lt {display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.infostart-lt {-webkit-box-pack: center;-moz-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;}
.infostart-lt {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.infostart > *:not(:empty):not(:last-child) {margin-bottom: 2.4rem;}
.infostart-bl {background-color: white;}
.infostart-lt {gap: 1.6rem;}
@media (min-width: 768px) {.infostart-lt {gap: 3.2rem;}}
@media (min-width: 1200px) {.infostart-lt {-webkit-box-pack: justify;-moz-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;}}
.infostart__header {text-align: center;}
@media (min-width: 1200px) {.infostart__header {text-align: left;}}
.infostart-item {max-width: 100%;width: 18rem;}
.infostart-item > *:not(:empty):not(:last-child) {margin-bottom: .4rem;}
.infostart-item p {font-size: .85rem;}
.infostart-item p:not(:last-child) {margin-bottom: .4rem;}
@charset "UTF-8";
.shooseus-lt, .shooseus-body-lt {display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.shooseus-lt, .shooseus-body-lt {-webkit-box-pack: center;-moz-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;}
.shooseus-lt, .shooseus-body-lt {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.shooseus-body-lt > * {-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;}
.shooseus-body {-webkit-box-shadow: 0px 0px 50px rgba(0,0,0,.1);-moz-box-shadow: 0px 0px 50px rgba(0,0,0,.1);box-shadow: 0px 0px 50px rgba(0,0,0,.1);}
.shooseus-lt {max-width: 100%;gap: 1.6rem;}
@media (min-width: 1100px) {.shooseus-lt._between {-webkit-box-pack: justify;-moz-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;}}
.shooseus-lt > * {max-width: 100%;}
@media (min-width: 1100px) {.shooseus-lt > * {max-width: -webkit-calc(65% - 1.6rem);max-width: -moz-calc(65% - 1.6rem);max-width: calc(65% - 1.6rem);}
	.shooseus-lt > *:nth-child(1) {max-width: 18rem;}}
.shooseus-body {padding: 1.4rem 1.6rem;background-color: white;border-radius: 1.6rem;}
.shooseus-body__wrap {max-width: 100%;width: 16rem;margin-left: auto;margin-right: auto;}
@media (min-width: 540px) {.shooseus-body__wrap {width: 30rem;}}
@media (min-width: 740px) {.shooseus-body__wrap {width: 44rem;}}
.shooseus-body-lt {max-width: 100%;gap: 1.6rem;}
.infohead2 {max-width: 100%;width: 34rem;}
.infohead2 > *:not(:empty):not(:last-child) {margin-bottom: 1rem;}
.infohead2__content {font-size: .9rem;}
.shooseus-item {max-width: 100%;width: 190px;}
.shooseus-item > *:not(:empty):not(:last-child) {margin-bottom: .4rem;}
.info-body-lt {display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.info__content__btn, .info-body-lt {-webkit-box-pack: center;-moz-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;}
.info-body-lt {-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.info-body-lt {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.info>*:not(:empty):not(:last-child) {margin-bottom: 2.4rem;}
.info-bl {background-color: #f8fcff;}
.info-body-lt {gap: 1.6rem;}
@media (min-width: 768px) {.info-body-lt {max-width: 100%;-webkit-box-pack: justify;-moz-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;}}
.info-body-lt>* {max-width: 100%;}
@media (min-width: 768px) {.info-body-lt>* {max-width: -webkit-calc(50% - 1.6rem);max-width: -moz-calc(50% - 1.6rem);max-width: calc(50% - 1.6rem);}
	.info-body-lt>*:nth-child(1) {-webkit-box-ordinal-group: 2;-moz-box-ordinal-group: 2;-webkit-order: 1;-ms-flex-order: 1;order: 1;}
	._inforight .info-body-lt>*:nth-child(1) {-webkit-box-ordinal-group: 1;-moz-box-ordinal-group: 1;-webkit-order: 0;-ms-flex-order: 0;order: 0;}}
.info-body__img {position: relative;max-width: 85%;width: 30rem;margin-left: auto;margin-right: auto;text-align: center;}
@media (min-width: 768px) {.info-body__img {max-width: 100%;}}
.info-body__img__blockfree {position: absolute;bottom: 0;left: 50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);max-width: 100%;}
.info__content>*:not(:empty):not(:last-child) {margin-bottom: 1.6rem;}
@media (min-width: 768px) {.info__content__btn {-webkit-box-pack: start;-moz-box-pack: start;-ms-flex-pack: start;-webkit-justify-content: start;justify-content: start;}}
.info-header {text-align: center;max-width: 100%;width: 48em;margin-left: auto;margin-right: auto;}
.info-header>*:not(:empty):not(:last-child) {margin-bottom: .8rem;}
.info-content>*:not(:empty):not(:last-child) {margin-bottom: .8rem;}
.info-content__text {max-width: 100%;width: 34em;font-size: .9rem;}
.input-lt, .request-form-lt {display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.input-lt, .request-form-lt {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.input-lt>*, .request-form-lt>* {-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;}
.request-form {-webkit-box-shadow: 0px 0px 50px rgba(0,0,0,.1);-moz-box-shadow: 0px 0px 50px rgba(0,0,0,.1);box-shadow: 0px 0px 50px rgba(0,0,0,.1);}
.request__head {text-shadow: 3px 3px 5px rgba(0,0,0,.75);}
.request {display: none;position: relative;}
.request__body>*:not(:empty):not(:last-child) {margin-bottom: 1rem;}
.popap_form .request__body>*:not(:empty):not(:last-child) {margin-bottom: 2.4rem;}
.request__head {color: #fff;}
.popap_form .request__head {font-size: 1.8rem;font-weight: 900;color: #333;text-shadow: none;}
.request-form {border-radius: 1.6rem;background-color: #fff;}
.request-form>*:not(:empty):not(:last-child) {margin-bottom: 1.6rem;}
.popap_form .request-form {padding: 0;box-shadow: none;}
.request-form-lt {max-width: 100%;-webkit-box-align: end;-moz-box-align: end;-ms-flex-align: end;-webkit-align-items: flex-end;align-items: flex-end;gap: 1rem;}
@media (min-width: 768px) {.request-form-lt {gap: 1.6rem;}}
.request-form-lt>* {max-width: 100%;-webkit-flex-basis: 17rem;-ms-flex-preferred-size: 17rem;flex-basis: 17rem;}
.request-form__submit {text-align: center;}
.input-lt {max-width: 100%;gap: 1rem;}
@media (min-width: 768px) {.input-lt {gap: 1.6rem;}}
.input-lt>* {max-width: 100%;-webkit-flex-basis: 7rem;-ms-flex-preferred-size: 7rem;flex-basis: 7rem;}
._tel {z-index: 99;}
.services>*:not(:empty):not(:last-child) {margin-bottom: 1rem;}
@media (min-width: 590px) {.services>*:not(:empty):not(:last-child) {margin-bottom: 2.8rem;}}
.services-lt {display: flex;flex-wrap: wrap;gap: 2.4rem;}
@media (min-width: 1200px) {.services-lt {gap: 3.6rem;}}
.services-lt>* {flex-basis: 16rem;flex-grow: 1;}
.services-img {width: 100%;max-width: 24rem;}
.services-right .services-img {margin-left: auto;}
.services-img-gr {display: grid;grid-template-columns: minmax(min-content,4fr) minmax(min-content,5fr);grid-template-rows: 1fr 2fr;grid-gap: 1.4rem;}
.services-right .services-img-gr {grid-template-columns: minmax(min-content,5fr) minmax(min-content,4fr);}
.services-img-gr>* {overflow: hidden;border-radius: .6rem;background-color: #3fc3ee;}
.services-img-gr>*:nth-child(1) {grid-row: 1/2;grid-column: 1/2;}
.services-right .services-img-gr>*:nth-child(1) {grid-row: 1/3;grid-column: 1/2;}
.services-img-gr>*:nth-child(2) {grid-row: 1/3;grid-column: 2/3;}
.services-right .services-img-gr>*:nth-child(2) {grid-row: 1/2;}
.services-img-gr>*:nth-child(3) {grid-row: 2/3;grid-column: 1/2;}
.services-right .services-img-gr>*:nth-child(3) {grid-column: 2/3;}
.services-img-gr>* img {object-fit: cover;width: 100%;height: 100%;}
.services-img-box {display: none;}
@media (min-width: 590px) {.services-img-box {display: block;}}
.services-list {width: 100%;font-family: "Inter",sans-serif;font-size: 1rem;font-weight: 500;line-height: 1.5;}
.services-list>*:not(:empty):not(:last-child) {margin-bottom: 1rem;}
@media (min-width: 1200px) {.services-list {max-width: 26rem;margin-top: 2rem;}}
.services-right .services-list {margin-left: auto;}
.services-list>* {position: relative;padding-left: 1.2rem;}
.services-list>*:after {content: "";position: absolute;left: 0;top: .5em;width: .3em;height: .3em;border-radius: 50%;background-color: currentColor;}
@charset "UTF-8";
.included {background: #f8fcff;}
.included * {font-family: "Raleway",sans-serif;}
.included-title {margin-bottom: 2rem;text-align: center;}
@media (min-width: 767px) {.included-title {width: 100%;}}
@media (min-width: 767px) {.included-lt {display: flex;flex-wrap: wrap;justify-content: space-between;}}
.included-lt > * {width: 100%;border-radius: 1.5rem;border: 1px solid #ffeddd;position: relative;background: #fff;padding: 1rem;color: #333;font-size: .9rem;letter-spacing: .02rem;font-style: normal;font-weight: 600;line-height: 1.5rem;margin-top: 1rem;display: flex;align-items: center;}
@media (min-width: 767px) {.included-lt > * {padding: 1.25rem;width: calc(50% - 1rem);}
	.included-lt > *:nth-child(2) {margin-top: 0;}}
.included-lt > *:first-child {margin-top: 0;}
.included-lt > *:before {content: "";display: block;width: 1.36rem;height: 1.36rem;min-width: 1.36rem;margin-right: .5rem;background-image: url("/myserv/assets/templates/sportcamps/modules/included/images/included-icon.svg");background-position: center;background-repeat: no-repeat;background-size: contain;}
.included-btn {margin-top: 1.9rem;margin-left: auto;margin-right: auto;display: flex;width: fit-content;align-items: center;justify-content: center;}
.included-btn:hover {background-color: #859d3d;}
.services2 {background: #f8fcff;}
.services2 * {font-family: "Raleway",sans-serif;}
.services2-title {margin-bottom: 2rem;text-align: center;}
@media (min-width: 767px) {.services2-title {width: 100%;}}
@media (min-width: 767px) {.services2-lt {display: flex;flex-wrap: wrap;justify-content: space-between;}}
.services2-lt>* {width: 100%;border-radius: 1.5rem;border: 1px solid #ffeddd;position: relative;background: #fff;padding: 1rem;color: #333;font-size: .9rem;letter-spacing: .02rem;font-style: normal;font-weight: 600;line-height: 1.5rem;margin-top: 1rem;display: flex;align-items: center;}
@media (min-width: 767px) {.services2-lt>* {padding: 1.25rem;width: calc(50% - 1rem);}
	.services2-lt>*:nth-child(2) {margin-top: 0;}}
.services2-lt>*:first-child {margin-top: 0;}
.services2-lt>*:before {content: "";display: block;width: 1.36rem;height: 1.36rem;min-width: 1.36rem;margin-right: .5rem;background-image: url("/myserv/assets/templates/sportcamps/modules/services2/images/included-icon.svg");background-position: center;background-repeat: no-repeat;background-size: contain;}
.services2-btn {margin-top: 1.9rem;margin-left: auto;margin-right: auto;display: flex;width: fit-content;align-items: center;justify-content: center;}
.services2-btn:hover {background-color: #859d3d;}
.weather {-webkit-box-shadow: 0px 0px 50px rgba(0,0,0,.1);-moz-box-shadow: 0px 0px 50px rgba(0,0,0,.1);box-shadow: 0px 0px 50px rgba(0,0,0,.1);}
.weather {display: inline-block;overflow: hidden;max-width: 100%;border-radius: 1rem;background-color: #f8fcff;}
.weather__tablewrap {overflow-x: auto;}