//- < base/base.html
    > home.tpl
    > modules/infostart/infostart.html
    > modules/countries/countries.html
    > modules/shooseus/shooseus.html
    > modules/info/info.html
    > modules/info/info_header.html
include ../../pug/_foreach
include ../../pug/_if
- var pathImg = '{$opt.assets_url}images/'
- var pathImgServices = '{$opt.assets_url}images/services/'
| {extends "file:sportcamps/base/base.html"}

| {block 'var'}
| {insert "file:sportcamps/home/home.tpl"}
| {/block}

| {block 'head'}
script(type="application/ld+json").
    {$data | toJSONunicod}
| {/block}

| {block 'header'}
| {parent}
//-************_slide_*************//
.slide-bl
    .slide.wrapper.pd_lr_block
        .slide-header
            .slide__head
                h1.head_h1 {$res.pagetitle}
            .slide__slogan.head_slogan
                p {$res.txt_slogan}
| {/block}

| {block 'main'}
//-************_Form_*************//
| {include "file:{$modules}formrequest/formrequest.html"
| header=$res.txt_head_form
|}

//-************_infostart_**********//
| {include "file:{$modules}infostart/infostart.html"
| class_untop='pd_block_untop'
| }

//************_countries_********//
| {include "file:{$modules}countries/countries.html"
| class_untop='pd_block_untop'
| sport=$sport
| }

//-************_info_Two**********//
| {include "file:{$modules}info/info.html"
| img=$res.img_info_two
| header2=$res.txt_info_two_head
| header_slogan=$res.txt_info_two_slogan
| content=$res.text_info_two | wrap_tag : 'p'
| btn_name=$res.txt_info_two_btn
| btn_cl='formrequest_js'
| }

//************_services_**********//
.services-bl
    section.services.wrapper.pd_block
        .services__header
            h2.head_h2 {$res.txt_block_head}
        .services-lt
            +foreach('$res.migx_block_service', '$service')
                article.service
                    .service__img
                        | {set $service_img = $service.img | fromJSON}
                        picture
                            source(srcset=pathImg + "{$service_img.sourceImg.src | replace : '.png' : '.webp'}" type="image/webp")
                            img(src=pathImg + '{$service_img.sourceImg.src}' alt="{$service_img.altTag}" title="{$service_img.caption}" loading="lazy" width="{$service_img.sourceImg.width}" height="{$service_img.sourceImg.height}")
                        //-| {$service_img.sourceImg.src}
                        //-| {$service.img}
                    h3.head_h3 {$service.header}
                    .content.service__content
                        | {$service.text | wrap_tag : 'p'}

//-************_shooseus_**********//
| {include "file:{$modules}shooseus/shooseus.html"}

//-************_faq_***********//
.faq-bl
    section.faq.wrapper.pd_block_untop
        .faq__header
            h2.head_h2 FAQ
        .faq-body {$faq_html}

//-************_info_end**********//
| {include "file:{$modules}info/info.html"
| class_lt='_inforight'
| img=$res.img_info_end
| head2=$res.txt_head_end
| content=$res.text_info_end | wrap_tag : 'p'
| btn_name=$res.txt_btn
| btn_cl='formrequest_js'
| }

| {/block}

| {block 'script'}
//-************_Form_popap*************//
| {include "file:{$modules}formrequest/formrequest.html"
| id='request'
| }
| {'minify_js_item' | placeholder}
| {/block}