//- Шаблон письма, приходящего с формы
    > form.tpl
br
| Посетитель {if $name}по имени: #[strong {$name}]{/if}
br
| {if $page == 'bell'}
| Прислал(а) телефон для обратного звонка.
br
| {/if}
| {if $tel}
| Его Телефон: #[strong {$tel}]
br
| {/if}
| {if $email}
| Его электронный адрес: #[strong {$email}]
br
| {/if}
| {if $page && $page != 'bell' && $page != 'review'}
| Прислал вопрос по теме: #[strong {$page}]
br
| {/if}
| {if $page == 'review'}
| Оставил отзыв на тему: #[strong {$theme}]
br
| {/if}
| {if $message}
| Его сообщение / Отзыв
br
hr
table
    tr
        th(align="left" style="padding: 10px") Текст сообщения
        td(style="padding: 10px") {$message}
| {/if}
