@charset "UTF-8";
//@import "../../../css/_mixin";
//@import "../../../css/_var";
//@import "../../../css/_ext";
////------------------------------
//@import "../../base/_var";
//@import "../../base/_ext";

@import "../../../css/mixin";
@import "../../../css/foundation";
@import "../../../css/ext";
@import "../../../css/var";
//------------------------------
@import "../../base/var";
@import "../../base/class";
@import "../../base/font";
@import "../../base/ext";
@import "../../base/base";

.infrastructure {
  .inf-table {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background-color: #fff;
    position: relative;

    // Прихований чекбокс для управління станом
    input[type="checkbox"] {
      display: none;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      padding: 20px 27px 24px 16px;
      background: linear-gradient(to right, #e0e0e0 50%, #e0e0e0 50%);
      background-size: 100% 1px;
      background-position: center;
      background-repeat: no-repeat;
      column-gap: 8px;

      &-col {
        display: flex;
        flex-direction: column;
        font-family: $font-head;
        font-weight: 700;
        font-size: calc(10px + ((13 - 10) * ((100vw - 320px) / (1920 - 320))));
        justify-content: space-between;
        height: 64px;
      }

      &-arrow {
        display: flex;
        align-items: center;
        cursor: pointer;

        .arrow {
          font-size: 18px;
          color: #ff6200; // Помаранчева стрілка
          transition: transform 0.3s ease;
        }
      }
    }

    &__list {
      display: none; // Приховано за замовчуванням
      padding: 16px 26px 24px 24px;

      &-check {
        display: flex;
        flex-wrap: wrap;
        column-gap: 45px;

        &-p {
          font-family: $font-head;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          position: relative;
          padding-left: 16px;
          margin-bottom: 14px;
          max-width: 180px;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 16px;
            height: 16px;
            background-size: 10px;
            background-repeat: no-repeat;
            background-position: center;
          }

          &--deny {
            color: #ccc;
            &:before {
              background-image: url('#{pathImg}dcheck.svg');
            }
          }

          &:not(&--deny):before {
            background-image: url('#{pathImg}check.svg');
          }
        }
      }
    }

    // Логіка розгортання без JS
    input[type="checkbox"]:checked ~ .inf-table__list {
      display: block; // Показуємо список
    }

    input[type="checkbox"]:checked ~ .inf-table__head .inf-table__head-arrow .arrow {
      transform: rotate(90deg); // Стрілка вниз (▼)
    }
  }
}