//- < base.html
    > country.tpl
.shooseus-bl
    section.shooseus.wrapper(class = "{$class_untop ?: 'pd_block'}")
        .shooseus-lt(class = "{$class_lt}")
            div
                .infohead2
                    h2.head_h2 {$res.txt_head_shoose}
                    .content.infohead2__content.
                        {$res.text_info_shoose | wrap_tag : 'p'}

            div
                .shooseus-body__wrap
                    .shooseus-body.shooseus-body-lt
                        .shooseus-item
                            span.head_number 1062+
                            p.txt_number Sports Hotels WorldWide exclusively cooperate with us
                        .shooseus-item
                            span.head_number 336+
                            p.txt_number Teams successfully arranged training camps with us
                        .shooseus-item
                            span.head_number 37+
                            p.txt_number Safe Countries covered by Active Planet

                        .shooseus-item
                            span.head_number 1500+
                            p.txt_number Professional Sports Facilities exclusively cooperate with us
                        .shooseus-item
                            span.head_number 10+
                            p.txt_number Years of professional cooperation in the sports tourism market
                        .shooseus-item
                            span.head_number 55+
                            p.txt_number Airlines at your disposal when you book training camp Abroad