- var pathImg = '{$opt.assets_url}images/'

.camp-overview
    .wrapper.pd_block
        section.camp-overview__bl
            .camp-overview__bl-wrapper
                .camp-overview__items
                    .camp-overview__items-item
                        img.camp-overview__items-img(src='assets/templates/sportcamps/modules/campoverview/images/airplane.svg' alt='airplane')
                    .camp-overview__items-item
                        p.camp-overview__items-p.camp-overview__items-p--orng
                            | Antalya AYT
                    .camp-overview__items-item
                        img.camp-overview__items-img(src='assets/templates/sportcamps/modules/campoverview/images/line.svg' alt='line')
                    .camp-overview__items-item
                        p.camp-overview__items-p.camp-overview__items-p--blue
                            | 15 km
                    .camp-overview__items-item
                        img.camp-overview__items-img(src='assets/templates/sportcamps/modules/campoverview/images/linearrow.svg' alt='linearrow')
                    .camp-overview__items-item
                        img.camp-overview__items-img(src='assets/templates/sportcamps/modules/campoverview/images/greenMarker.svg' alt='greenMarker')
                h2.camp-overview__bl-title Training Camp Overview
                .camp-overview__bl-text
                    input.camp-overview__bl-checkbox(type="checkbox" id="read-more")
                    .camp-overview__bl-description
                        p.camp-overview__bl-description-text This modern 4-star all-inclusive resort in Hurghada is located just 700 meters from the Red Sea. Ideal for swimming in sports camps. On the territory, there is a classic outdoor Olympic swimming pool of 50 m with 10 lanes and starting bollards. Hurghada International Airport is 7 km from the hotel. Distance to the center of Hurghada - 15 km. Guests can also take a shuttle to the beach at the nearby Beach Albatros Resort.
                        p.camp-overview__bl-description-text This modern 4-star all-inclusive resort in Hurghada is located just 700 meters from the Red Sea. Ideal for swimming in sports camps. On the territory, there is a classic outdoor Olympic swimming pool of 50 m with 10 lanes and starting bollards. Hurghada International Airport is 7 km from the hotel. Distance to the center of Hurghada - 15 km. Guests can also take a shuttle to the beach at the nearby Beach Albatros Resort.
                        p.camp-overview__bl-description-text This modern 4-star all-inclusive resort in Hurghada is located just 700 meters from the Red Sea. Ideal for swimming in sports camps. On the territory, there is a classic outdoor Olympic swimming pool of 50 m with 10 lanes and starting bollards. Hurghada International Airport is 7 km from the hotel. Distance to the center of Hurghada - 15 km. Guests can also take a shuttle to the beach at the nearby Beach Albatros Resort.
                    label.camp-overview__bl-toggle(for="read-more")
            .camp-overview__bl_container.f-carousel#campCarousel
                .camp-overview__bl_container-carou.f-carousel__slide
                    img.camp-overview__bl_container-carou-img(src=pathImg +'coralPool.png' alt='coralPool')
                    p.camp-overview__bl_container-carou-p Swimming pool
                .camp-overview__bl_container-carou.f-carousel__slide
                    img.camp-overview__bl_container-carou-img(src=pathImg +'background.jpeg' alt='coralPool')
                    p.camp-overview__bl_container-carou-p Swimming pool
            .camp-overview__bl-btn
                button.btn.greenBtn send a request