@charset "UTF-8";
/**
 * Хлебные крошки
 */
/*%pd_lr_block {
    $pd_lr_block: '0.6rem + 1.6vw' !default;

    @include pd_lr($pd_lr_block, 0, true);
}
%pd_block {
    $pd_tb_block: '1.6rem + 2vw' !default;

    @extend %pd_lr_block;
    @include pd_tb($pd_tb_block, 0, true);
}*/
.camp-overview__bl-wrapper {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding-top: calc(16px + 84 * (40vw - 320px) / 1600);
  padding-right: calc(8px + 92 * (100vw - 320px) / 1600);
  padding-left: calc(8px + 92 * (100vw - 320px) / 1600);
  padding-bottom: 178px;
  position: relative;
}
.camp-overview__bl-title {
  display: none;
}
@media (min-width: 620px) {
  .camp-overview__bl-title {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 800;
    padding-bottom: 19px;
  }
}
.camp-overview__bl-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 30px;
  color: #535556;
  gap: 4px;
  position: relative;
}
.camp-overview__bl-checkbox {
  display: none;
}
.camp-overview__bl-description {
  max-height: 19em;
  overflow: hidden;
  transition: max-height 0.3s ease;
  gap: 8px;
  display: grid;
}
@media (min-width: 800px) {
  .camp-overview__bl-description {
    max-height: 100%;
    overflow: visible;
  }
}
.camp-overview__bl-checkbox:checked ~ .camp-overview__bl-description {
  max-height: none;
}
.camp-overview__bl-toggle {
  display: block;
  cursor: pointer;
  color: #5BBCE4;
  line-height: 25.6px;
  font-weight: 700;
  font-size: 16px;
  font-family: Raleway;
}
@media (min-width: 800px) {
  .camp-overview__bl-toggle {
    display: none;
  }
}
.camp-overview__bl-toggle::after {
  content: "Read more";
}
.camp-overview__bl-checkbox:checked ~ .camp-overview__bl-toggle::after {
  content: "Show less";
}
.camp-overview__bl_container {
  position: relative;
  margin: -160px auto 0;
  padding-left: calc(8px + 92 * (100vw - 320px) / 1600);
  padding-right: calc(8px + 92 * (100vw - 320px) / 1600);
}
.camp-overview__bl_container-carou {
  display: flex;
}
.camp-overview__bl_container-carou-img {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-height: 347px;
  border-radius: 16px;
}
.camp-overview__bl_container-carou-img-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, black 70px, transparent, transparent calc(100% - 70px), black 100%);
  pointer-events: none;
}
.camp-overview__bl_container-carou-p {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 4px 10px;
  border-radius: 24px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.camp-overview__bl-btn {
  text-align: center;
}
.camp-overview__bl-btn .greenBtn {
  margin-top: 24px;
  text-transform: uppercase;
}
.camp-overview__items {
  display: flex;
  gap: 4px;
  padding-bottom: 16px;
  align-items: center;
}
@media (min-width: 344px) {
  .camp-overview__items {
    gap: 8px;
  }
}
.camp-overview__items-svg {
  width: 24px;
  height: 24px;
}
.camp-overview__items-p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.1428571429rem;
}
.camp-overview__items-p--orng {
  color: #F39540;
}
.camp-overview__items-p--blue {
  color: #5BBCE4;
}
.camp-overview .f-carousel__slide {
  margin-bottom: 0;
}
.camp-overview .f-carousel .f-button {
  --f-button-svg-width: 14x;
  --f-button-svg-height: 29px;
  --f-button-color: #FFF;
  --f-button-hover-color: #FFF;
  --f-button-border: none;
}
.camp-overview .f-carousel .f-button svg {
  stroke-linecap: butt;
}
.camp-overview .is-horizontal .f-carousel__nav .f-button.is-next,
.camp-overview .is-horizontal .f-carousel__nav .f-button.is-prev {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  width: 65px;
  right: calc(8px + 92 * (100vw - 320px) / 1600);
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 77%);
}
.camp-overview .is-horizontal .f-carousel__nav .f-button.is-prev {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  left: calc(8px + 92 * (100vw - 320px) / 1600);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 77%);
}
.camp-overview .f-button:focus-visible {
  box-shadow: none;
}
.camp-overview .is-horizontal .f-carousel__nav .f-button.is-next,
.camp-overview .is-horizontal .f-carousel__nav .f-button.is-prev {
  top: 50%;
}

/*# sourceMappingURL=campoverview.css.map */
