@charset "UTF-8";
/**
 * Хлебные крошки
 */
/*%pd_lr_block {
    $pd_lr_block: '0.6rem + 1.6vw' !default;

    @include pd_lr($pd_lr_block, 0, true);
}
%pd_block {
    $pd_tb_block: '1.6rem + 2vw' !default;

    @extend %pd_lr_block;
    @include pd_tb($pd_tb_block, 0, true);
}*/
.othercamps {
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway;
}
@media (min-width: 720px) {
  .othercamps-title {
    width: 70%;
  }
}
.othercamps-title *:last-child {
  color: #637075;
  padding-top: 1.1428571429rem;
  line-height: 24px;
  font-size: 1.1428571429rem;
  font-weight: 500;
}
.othercamps-nav {
  width: 100%;
  margin: 40px 0 0 0;
  border: 2px solid black;
  border-radius: 12px;
  padding: 0.1428571429rem;
  position: sticky;
  top: 3px;
  z-index: 10;
  background-color: #FFFFFF;
}
.othercamps-nav > * {
  text-align-last: center;
}
@media (min-width: 500px) {
  .othercamps-nav > * {
    display: flex;
    justify-content: center;
  }
}
.othercamps-nav > * > * {
  width: 100%;
}
.othercamps-nav > * > * > * {
  padding: 0.7857142857rem;
  font-family: Raleway;
  font-weight: 700;
  font-size: 1.1428571429rem;
  color: #637075;
  line-height: 24px;
  display: block;
}
.othercamps-nav > * > * .cl_orange:hover, .othercamps-nav > * > * .cl_orange.active {
  background-color: #F39540;
  border: 1px;
  border-radius: 12px;
  color: #FFFFFF;
}
.othercamps-nav > * > * .cl_green:hover, .othercamps-nav > * > * .cl_green.active {
  background-color: #95C032;
  border: 1px;
  border-radius: 12px;
  color: #FFFFFF;
}
.othercamps-nav > * > * .cl_blue:hover, .othercamps-nav > * > * .cl_blue.active {
  background-color: #5BBCE4;
  border: 1px;
  border-radius: 12px;
  color: #FFFFFF;
}
.othercamps-sections > * {
  padding-top: 5.7142857143rem;
}
.othercamps-sections > * > *:first-child {
  margin-bottom: 2.8571428571rem;
}
.othercamps-sections .head_h2 {
  text-transform: none;
  padding-bottom: 0.5714285714rem;
  font-weight: 800;
  font-size: 1.5714285714rem;
  line-height: 38px;
}
.othercamps-sections .head_h2.olympic {
  color: #F39540;
}
.othercamps-sections .head_h2.paralympic {
  color: #95C032;
}
.othercamps-sections .head_h2.nonolympic {
  color: #5BBCE4;
}
.othercamps-sections .subtitle {
  font-size: 1.1428571429rem;
  font-weight: 500;
  color: #637075;
  line-height: 24px;
}
.othercamps .item-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-row-gap: 0.8571428571rem;
}
@media (min-width: 500px) {
  .othercamps .item-list {
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 1.7142857143rem;
  }
}
@media (min-width: 1024px) {
  .othercamps .item-list {
    grid-template-columns: repeat(3, 2fr);
    grid-row-gap: 1.7142857143rem;
    grid-column-gap: 1.7142857143rem;
  }
}
.othercamps .item-list__item {
  display: flex;
  text-align: left;
}
.othercamps .item-list__content {
  width: 24px;
}
.othercamps .item-list__content > * {
  width: 100%;
  height: 24px;
}
.othercamps .item-list__wrapper {
  width: calc(100% - 24px);
  padding-left: 0.5714285714rem;
}
.othercamps .item-list__title {
  padding-bottom: 0.2857142857rem;
  line-height: 27px;
}
.othercamps .item-list__text {
  color: #637075;
  line-height: 24px;
  font-size: 1.1428571429rem;
  font-weight: 500;
}

/*# sourceMappingURL=othercamps.css.map */
