// - var pathImg = '{$theme_modules}infrastructure/images/'
- var pathImg = 'images/'

doctype html
head
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='stylesheet' href='othercamps.css')
script(rel='script' src='othercamps.js')
title Football Camps

mixin olympic-mixin
    ul.item-list
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
             | Intensive training camps for swim teams and athletes at professional facilities in top locations.

mixin paralympic-mixin
    ul.item-list
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.

mixin nonolympic-mixin
    ul.item-list
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive
        li
            h3.head_h3.item-list__title
                | Swimming Camps
            p.item-list__text
                | Intensive training camps for swim teams and athletes at professional facilities in top locations.

.othercamps-bl#othercamps
    section.othercamps.wrapper.pd_block
        div.othercamps-title
            h1.head_h1 All Sports Training Camps
            p We organize training camps for teams and athletes in all types of sports — Olympic, non-Olympic, and Paralympic. Choose from top global locations and professional infrastructure tailored to your discipline.
        nav.othercamps-nav
            ul
                li Olympic Camps
                li Paralympic Camps
                li Non-Olympic Camps
        div.othercamps-sections
            section
                h2.head_h2 Olympic sports
                p All official Olympic sports
                +olympic-mixin
            section
                h2.head_h2 Paralympic Camps
                p Sports adapted for athletes with disabilities
                +paralympic-mixin
            section
                h2.head_h2 Non-Olympic Camps
                p Other global sports and disciplines
                +nonolympic-mixin
